@use "../global" as *;

.btn-normal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: var(--space-md) var(--space-lg);
  background: var(--vtco-primary-50);
  border-radius: var(--space-sm);
  color: var(--white);
  border: none;
  box-shadow: 0px 2px 5px 0px #676e7614;
  font-size: func-getPxFromRem(0.875);
  line-height: 1.25;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;

  &::after {
    content: "→";
    padding-left: var(--space-sm);
    transition: all 0.3s ease;
    position: absolute;
    inset: 0;
    @include display-flex-layout(row, nowrap, center, center, 0);
    transform: translateX(-25%);
    opacity: 0;
  }
  span {
    transition: all 0.3s ease;
  }

  &:hover {
    &::after {
      transform: translateX(0);
      opacity: 1;
    }
    span {
      opacity: 0;
    }
  }

  &--trans {
    background-color: var(--grey-50);
    color: var(--vtco-primary-black);
    border: 1px solid #676e7614;
  }
}
