// _typography.scss
@use "../abstracts/variables" as *;

// Font sizes
$text-sm: 12px;
$text-md: 14px;
$text-base: 16px;
$text-lg: 20px;
$text-xl: 24px;
$text-xxl: 28px;

@mixin max-line($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin font-regular {
  font-family: "Exo";
}

@mixin font-semibold {
  font-family: "Exo-SemiBold";
}

@mixin font-bold {
  font-family: "Exo-Bold";
}

@mixin font-medium {
  font-family: "Exo-Medium";
}

@mixin font-Jersey10 {
  font-family: "Jersey10";
}

.txt-second-60 {
  color: var(--vtco-second-60);
}

b {
  @include font-bold;
}
