// _variables.scss

// Color
$vtco-60: #72ad37;
$vtco-50: #85c446;
$vtco-30: #c2e2a2;
$vtco-10: #EEF7E4;
$vtco-black: #272727;

$vtco-recruitment-bg: #263425;

$grey-800: #383F45;
$grey-700: #454C52;
$grey-600: #596066;
$grey-200: #e5e7ea;
$grey-100: #f6f7f9;

$white: #ffffff;

$neutral-20: #D9DDEA;

// Spacing
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-normal: 16px;
$spacing-lg: 20px;
$spacing-xl: 24px;
$spacing-xxl: 32px;

// Max-width
$container-width-tablet: 600px;
