// _footer.scss
@use "../global" as *;

.vtco-footer {
  width: 100%;
  background-color: var(--white);
  color: var(--grey-800);
  font-size: 14px;
  border-top: 1px solid var(--grey-200);

  .vtco-footer-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 4% var(--space-base);
    border-bottom: 1px solid #ccc;
    @include display-grid-cols(5, var(--space-base));
    @include res-responsive(lg) {
      grid-template-columns: repeat(1, 1fr);
      padding: 6% var(--space-base);
      max-width: 75%;
    }
    @include res-responsive(md) {
      padding: 8% var(--space-base);
      max-width: 100%;
    }
    @include res-responsive(sm) {
      padding: 10% var(--space-base);
    }
  }
  .copy-right {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .footer-col {
    .footer-title {
      width: 100%;
      margin-bottom: var(--space-lg);
      @include txt-font-bold;
      position: relative;
      @include res-responsive(lg) {
        &::after {
          font-family: "FontAwesome";
          content: "\f0d7";
          position: absolute;
          right: 0.5rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .footer-content {
      @include res-responsive(lg) {
        display: none;
      }
      ul {
        li {
          padding: var(--space-sm) 0;
          transition: all 0.3s ease;
          line-height: 1.5;
          transition: all 0.3s ease;
          &:hover {
            @include txt-font-semibold;
          }
        }
      }
    }
    &:last-child {
      .footer-title {
        margin-bottom: 0;
      }
    }
  }
}
