// _header.scss
@use "sass:map";

@use "../global" as *;

header {
  position: sticky;
  top: 0;
  z-index: 999;
}
.vtco-header {
  width: 100%;
  height: func-getPxFromRem(4.5);
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-200);
  padding: var(--space-base);
}

.vtco-header-wrapper {
  width: 100%;
  height: 100%;
  max-width: $res-breakpoint-xxl;
  margin: auto;
  @include display-flex-layout(
    row,
    nowrap,
    space-between,
    center,
    var(--space-base)
  );

  .vtco-logo {
    height: 32px;
    img {
      width: auto;
      height: 32px;
      object-fit: contain;
    }
  }

  .vtco-nav {
    flex: 1;
    ul {
      height: 100%;
      @include display-flex-layout(row, nowrap, center, center, 4%);
    }

    @include res-responsive(lg) {
      display: none;
    }

    .vtco-nav-item {
      color: var(--grey-600);
      transition: all 0.3s ease;
      padding: var(--space-sm) 0;
      &:hover,
      &:first-child {
        color: var(--vtco-primary-50);
      }
      &:first-child {
        font-family: "Exo-SemiBold";
      }
    }
  }

}
