@use "../global" as *;

.sm-margin {
  margin: 2% 0;
}

.culture-section-layout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  @include res-responsive(lg) {
    flex-direction: column;
  }
  .section-col-large {
    width: 66.66%;
    .cts-news-lst {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 1rem;
    }
    .more-actions {
      width: 100%;
      margin: 4% 0;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include res-responsive(lg) {
      width: 100%;
    }
  }

  .section-col-small {
    width: 33.33%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
      gap: 2rem 1rem;
    @include res-responsive(lg) {
      width: 100%;
    }
  }
}

.culture-news-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.culture-news-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  position: relative;
  cursor: pointer;
  @include res-responsive(sm) {
    grid-column: 1 / 3;
  }
  &:hover {
    .news-title {
      color: var(--vtco-primary-60) !important;
    }
  }
  .news-thumb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 467/270;
      border-radius: 8px;
      object-fit: cover;
    }
  }
  .news-info {
    color: var(--vtco-black);
    .news-type {
      margin-bottom: 0.5rem;
      &.goBeyond {
        color: #ea582c;
      }
      &.goVibes {
        color: #8462ea;
      }
      &.goCulture {
        color: #97c012;
      }
      &.goTogether {
        color: #3788e4;
      }
    }
    .news-title {
      @include txt-max-line(3);
      @include txt-font-semibold;
    }
  }

  &.outstanding {
    grid-row: 1 / 5;
    grid-column: 1 / 3;
    border-radius: 1rem;
    overflow: hidden;
    @include res-responsive(lg) {
      grid-column: 1 / 4;
    }
    .news-thumb {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 953/500;
        border-radius: 16px;
        max-width: unset;
      }
    }
    .news-info {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 4%;
      color: white;
      background: linear-gradient(to top, #000, transparent);
      .news-title {
        font-size: clamp(20px, 2vw, 36px);
        line-height: 1.25;
      }
    }
  }

  &.trending {
    flex-direction: row;
    @include res-responsive(lg) {
      grid-column: 1 / 4;
    }
    .news-thumb {
      width: fit-content;
      img {
        max-width: 110px;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }
    .news-info {
      width: 65%;
    }
  }
}
