@charset "UTF-8";
.btn-normal {
  padding: 12px 20px;
  background: #85c446;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(103, 110, 118, 0.0784313725);
  font-size: 14px;
  line-height: 1.25;
}
.btn-normal::after {
  content: "→";
  padding-left: 8px;
}

.vtco-swiper {
  width: 100%;
  height: auto;
  aspect-ratio: 1920/840;
}
.vtco-swiper .vtco-slide {
  width: 100%;
  position: relative;
}
.vtco-swiper .vtco-slide--img {
  width: 100%;
}
.vtco-swiper .vtco-slide--img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1920/840;
  object-fit: cover;
  display: block;
}
.vtco-swiper .vtco-slide--title {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: #ffffff;
  font-family: "Exo-SemiBold";
  font-size: 40px;
  padding-right: 16%;
}
@media (max-width: 1440px) {
  .vtco-swiper .vtco-slide--title {
    padding: 1rem;
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .vtco-swiper .vtco-slide--title {
    padding: 1rem;
    font-size: 24px;
  }
}
.vtco-swiper .vtco-pagination {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: end;
  gap: 0.5rem;
}
@media (max-width: 992px) {
  .vtco-swiper .vtco-pagination {
    bottom: 10%;
    justify-content: start;
    padding: 0 1rem;
  }
}
@media (max-width: 1440px) {
  .vtco-swiper .vtco-pagination {
    padding: 0 1rem;
  }
}
.vtco-swiper .vtco-pagination .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.3;
  aspect-ratio: 1/1;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}
.vtco-swiper .vtco-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #72ad37;
  opacity: 1;
  width: 24px;
  border-radius: 10px;
}

.vtco-section {
  width: 100%;
  margin: 4% 0;
}
.vtco-section:first-of-type {
  margin-top: 0;
}
.vtco-section:last-of-type {
  margin-bottom: 0;
}
.vtco-section .vtc-section-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2% 16px;
}
@media (max-width: 992px) {
  .vtco-section .vtc-section-wrapper {
    max-width: 600px;
  }
}
.vtco-section .section-name {
  font-size: 30px;
  font-family: "Exo-SemiBold";
  color: #72ad37;
  margin-bottom: 16px;
}
.vtco-section .section-info {
  color: #272727;
}
.vtco-section .section-info .section-title {
  font-family: "Exo-SemiBold";
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: 1px;
  word-spacing: 1px;
}
@media (max-width: 992px) {
  .vtco-section .section-info .section-title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .vtco-section .section-info .section-title {
    font-size: 18px;
  }
}
.vtco-section .section-info .section-desc {
  font-family: "Exo-Medium";
  font-size: 16px;
}
.vtco-section .section-info .section-desc p {
  margin-bottom: 12px;
  line-height: 1.5;
  line-height: 24px;
  word-spacing: 2px;
}
.vtco-section .section-info .section-desc p:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .vtco-section .section-info .section-desc p {
    font-size: 14px;
  }
}
.vtco-section .section-info .section-actions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.vtco-strategy {
  background-image: url("../images/img_decor_dots.png"), url("../images/img_decor_rainbow.png");
  background-repeat: no-repeat;
  background-size: auto auto, 78% auto;
  background-position: -8px calc(100% - 8px), top left;
}
.vtco-strategy .vtc-section-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 8% 1rem 4%;
}
@media (max-width: 992px) {
  .vtco-strategy .vtc-section-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.vtco-strategy .strategy-text {
  width: 45%;
}
@media (max-width: 992px) {
  .vtco-strategy .strategy-text {
    width: 100%;
  }
}
.vtco-strategy .strategy-highlights {
  width: 35%;
  position: relative;
}
@media (max-width: 1200px) {
  .vtco-strategy .strategy-highlights {
    width: 45%;
  }
}
@media (max-width: 1440px) {
  .vtco-strategy .strategy-highlights {
    width: 40%;
  }
}
@media (max-width: 992px) {
  .vtco-strategy .strategy-highlights {
    width: 80%;
    margin: 4% auto;
  }
}
@media (max-width: 576px) {
  .vtco-strategy .strategy-highlights {
    width: 90%;
    margin: 4% auto;
  }
}
.vtco-strategy .strategy-wraper {
  width: 100%;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 992px) {
  .vtco-strategy .strategy-wraper {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .vtco-strategy .strategy-wraper {
    gap: 16px;
  }
}
.vtco-strategy .strategy-wraper .strategy-item {
  position: relative;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: #f6f7f9;
  border-radius: 50%;
  color: #272727;
  transition: all 0.5s ease;
  overflow: hidden;
  cursor: pointer;
}
.vtco-strategy .strategy-wraper .strategy-item--img {
  transition: all 0.5s ease;
}
.vtco-strategy .strategy-wraper .strategy-item--img img {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
  display: block;
  transition: all 0.5s ease;
}
@media (max-width: 576px) {
  .vtco-strategy .strategy-wraper .strategy-item--img img {
    max-width: 60%;
  }
}
.vtco-strategy .strategy-wraper .strategy-item p {
  margin: 0;
  font-size: 20px;
  font-family: "Exo-SemiBold";
  transition: all 0.5s ease;
}
.vtco-strategy .strategy-wraper .strategy-item:hover {
  background: linear-gradient(180deg, #B1D23E 0%, #76AE45 100%);
  color: #ffffff;
  transform: scale(1.05);
}
.vtco-strategy .strategy-wraper .strategy-item:hover .strategy-item--img {
  transform: translateY(-50%) scale(0);
  opacity: 0;
}
.vtco-strategy .strategy-wraper .strategy-item:hover p {
  width: fit-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
}
@media (max-width: 768px) {
  .vtco-strategy .strategy-wraper .strategy-item:hover p {
    font-size: 20px;
  }
}
.vtco-strategy .strategy-decor {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.vtco-strategy .strategy-decor img {
  width: 100%;
  max-width: 48%;
  aspect-ratio: 1/1;
}
.vtco-strategy .section-desc {
  padding: 40px 0;
}
@media (max-width: 768px) {
  .vtco-strategy .section-desc {
    padding: 16px 0;
  }
}
@media (max-width: 992px) {
  .vtco-strategy .section-desc {
    padding: 24px 0;
  }
}

.vtco-ecosystems .section-desc {
  max-width: 75%;
}

.goPlayLstServies {
  width: 100%;
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4% 2%;
}
@media (max-width: 768px) {
  .goPlayLstServies {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.goPlayService-card {
  width: 100%;
  border-radius: 16px;
  aspect-ratio: 704/334;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}
.goPlayService-card--bground {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.goPlayService-card--bground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.goPlayService-card--content {
  position: absolute;
  padding: 6%;
  inset: 0;
  z-index: 1;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;
  font-size: 1.875vw;
  transition: all 0.3s ease;
  font-family: "Exo-SemiBold";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .goPlayService-card--content {
    font-size: 5vw;
  }
}
.goPlayService-card--content .service-name {
  transition: all 0.5s ease;
}
.goPlayService-card--content:hover {
  background: linear-gradient(180deg, #B1D23E 0%, #76AE45 100%);
  justify-content: center;
  font-size: 2.125vw;
}
@media (max-width: 768px) {
  .goPlayService-card--content:hover {
    font-size: 7vw;
  }
}
.goPlayService-card--content:hover .service-name {
  transform: translateY(0);
}

.vtco-culture {
  background-image: url("../images/img_decor_culture.png");
  background-position: 0 85%;
  background-size: 50% auto;
  background-repeat: no-repeat;
}
.vtco-culture .vtc-section-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
}
@media (max-width: 992px) {
  .vtco-culture .vtc-section-wrapper {
    flex-direction: column-reverse;
  }
}
.vtco-culture .culture-text {
  width: 45%;
}
@media (max-width: 992px) {
  .vtco-culture .culture-text {
    width: 100%;
  }
}
.vtco-culture .culture-highlights {
  width: 45%;
  position: relative;
  background-image: url("../images/img_decor_dots.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top left;
}
@media (max-width: 992px) {
  .vtco-culture .culture-highlights {
    width: 80%;
    margin: 4% auto;
  }
}
@media (max-width: 576px) {
  .vtco-culture .culture-highlights {
    width: 90%;
    margin: 4% auto;
  }
}
.vtco-culture .culture-highlights img {
  width: 100%;
  border-radius: 25% 0 25% 25%;
  aspect-ratio: 4.5/4;
  object-fit: cover;
}
.vtco-culture .section-desc {
  padding: 40px 0;
  line-height: 1.5;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .vtco-culture .section-desc {
    padding: 16px 0;
  }
}
@media (max-width: 992px) {
  .vtco-culture .section-desc {
    padding: 24px 0;
  }
}
.vtco-culture .section-desc b {
  font-family: "Exo-Bold";
}
.vtco-culture .section-desc ul {
  list-style: none;
  margin: 1rem;
}
.vtco-culture .section-desc ul li {
  padding-left: 32px;
  margin-bottom: 8px;
  position: relative;
}
.vtco-culture .section-desc ul li:last-child {
  margin-bottom: 0;
}
.vtco-culture .section-desc ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  background-image: url("../images/ic_list_dots.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.effect.effect-4 {
  transition: all 0.2s linear 0s;
}
.effect.effect-4:before {
  content: "\f178";
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  transform: scale(0, 1);
  transition: all 0.2s linear 0s;
}
.effect.effect-4:hover {
  text-indent: -9999px;
}
.effect.effect-4:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.vtco-header {
  width: 100%;
  height: 72px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7ea;
  padding: 16px;
}

.vtco-header-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.vtco-header-wrapper .vtco-logo {
  height: 32px;
}
.vtco-header-wrapper .vtco-logo img {
  width: auto;
  height: 32px;
  object-fit: containƒ;
}
.vtco-header-wrapper .vtco-nav {
  flex: 1;
}
.vtco-header-wrapper .vtco-nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 4%;
}
.vtco-header-wrapper .vtco-nav .vtco-nav-item {
  color: #596066;
  transition: all 0.3s ease;
  padding: 8px 0;
}
.vtco-header-wrapper .vtco-nav .vtco-nav-item:hover, .vtco-header-wrapper .vtco-nav .vtco-nav-item:first-child {
  color: #85c446;
}
.vtco-header-wrapper .vtco-nav .vtco-nav-item:first-child {
  font-family: "Exo-SemiBold";
}
