@charset "UTF-8";
.btn-normal {
  padding: 12px 20px;
  background: #85c446;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(103, 110, 118, 0.0784313725);
  font-size: 14px;
  line-height: 1.25;
  position: relative;
  transition: all 0.3s ease;
}
.btn-normal::after {
  content: "→";
  padding-left: 8px;
  transition: all 0.3s ease;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  transform: translateX(-25%);
  opacity: 0;
}
.btn-normal span {
  transition: all 0.3s ease;
}
.btn-normal:hover::after {
  transform: translateX(0);
  opacity: 1;
}
.btn-normal:hover span {
  opacity: 0;
}

.vtco-swiper {
  width: 100%;
  height: auto;
  aspect-ratio: 1920/840;
}
.vtco-swiper .vtco-slide {
  width: 100%;
  position: relative;
}
.vtco-swiper .vtco-slide--img {
  width: 100%;
}
.vtco-swiper .vtco-slide--img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1920/840;
  object-fit: cover;
  display: block;
}
.vtco-swiper .vtco-slide--title {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: #ffffff;
  font-family: "Exo-SemiBold";
  font-size: 40px;
  padding-right: 16%;
}
@media (max-width: 1440px) {
  .vtco-swiper .vtco-slide--title {
    padding: 1rem;
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .vtco-swiper .vtco-slide--title {
    padding: 1rem;
    font-size: 24px;
  }
}
.vtco-swiper .vtco-pagination {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: end;
  gap: 0.5rem;
}
@media (max-width: 992px) {
  .vtco-swiper .vtco-pagination {
    bottom: 10%;
    justify-content: start;
    padding: 0 1rem;
  }
}
@media (max-width: 1440px) {
  .vtco-swiper .vtco-pagination {
    padding: 0 1rem;
  }
}
.vtco-swiper .vtco-pagination .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.3;
  aspect-ratio: 1/1;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}
.vtco-swiper .vtco-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #72ad37;
  opacity: 1;
  width: 24px;
  border-radius: 10px;
}

.vtco-section {
  width: 100%;
  margin: 4% 0;
  position: relative;
}
˝ .vtco-section:first-of-type {
  margin-top: 0;
}
.vtco-section:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .vtco-section {
    margin: 6% 0;
  }
}
@media (max-width: 576px) {
  .vtco-section {
    margin: 8% 0;
  }
}
.vtco-section .vtco-section-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2% 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 16px;
}
@media (max-width: 992px) {
  .vtco-section .vtco-section-wrapper {
    max-width: 600px;
    flex-direction: column;
  }
}
.vtco-section .vtco-section-wrapper.unLimitWidth {
  max-width: unset;
}
.vtco-section .vtco-section-col {
  width: 50%;
}
@media (max-width: 992px) {
  .vtco-section .vtco-section-col {
    width: 100%;
  }
}
.vtco-section .section-name {
  font-size: 30px;
  font-family: "Exo-SemiBold";
  color: #72ad37;
  margin-bottom: 16px;
}
.vtco-section .section-info {
  color: #272727;
}
.vtco-section .section-info .section-title {
  font-family: "Exo-SemiBold";
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: 1px;
  word-spacing: 1px;
}
@media (max-width: 992px) {
  .vtco-section .section-info .section-title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .vtco-section .section-info .section-title {
    font-size: 18px;
  }
}
.vtco-section .section-info .section-desc {
  font-family: "Exo-Medium";
  font-size: 16px;
  padding: 40px 0;
}
@media (max-width: 768px) {
  .vtco-section .section-info .section-desc {
    padding: 16px 0;
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .vtco-section .section-info .section-desc {
    padding: 24px 0;
  }
}
.vtco-section .section-info .section-desc p {
  margin-bottom: 12px;
  line-height: 1.5;
  line-height: 24px;
  word-spacing: 2px;
}
.vtco-section .section-info .section-desc p:last-child {
  margin-bottom: 0;
}
.vtco-section .section-info .section-actions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.vtco-strategy {
  background-image: url("../images/img_decor_dots.png"), url("../images/img_decor_rainbow.png");
  background-repeat: no-repeat;
  background-size: auto auto, 78% auto;
  background-position: -8px calc(100% - 8px), top left;
  margin: 0;
}
.vtco-strategy .vtco-section-wrapper {
  justify-content: space-between;
  padding: 8% 1rem 4%;
}
.vtco-strategy .strategy-text {
  width: 45%;
}
@media (max-width: 992px) {
  .vtco-strategy .strategy-text {
    width: 100%;
  }
}
.vtco-strategy .strategy-highlights {
  width: 35%;
  position: relative;
}
@media (max-width: 1440px) {
  .vtco-strategy .strategy-highlights {
    width: 45%;
  }
}
@media (max-width: 1200px) {
  .vtco-strategy .strategy-highlights {
    width: 50%;
  }
}
@media (max-width: 992px) {
  .vtco-strategy .strategy-highlights {
    width: 80%;
    margin: 4% auto;
  }
}
@media (max-width: 576px) {
  .vtco-strategy .strategy-highlights {
    width: 90%;
    margin: 4% auto;
  }
}
.vtco-strategy .strategy-wraper {
  width: 100%;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 992px) {
  .vtco-strategy .strategy-wraper {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .vtco-strategy .strategy-wraper {
    gap: 16px;
  }
}
.vtco-strategy .strategy-wraper .strategy-item {
  position: relative;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: #f6f7f9;
  border-radius: 50%;
  color: #272727;
  transition: all 0.5s ease;
  overflow: hidden;
  cursor: pointer;
}
.vtco-strategy .strategy-wraper .strategy-item--img {
  transition: all 0.5s ease;
}
.vtco-strategy .strategy-wraper .strategy-item--img img {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
  display: block;
  transition: all 0.5s ease;
}
@media (max-width: 576px) {
  .vtco-strategy .strategy-wraper .strategy-item--img img {
    max-width: 60%;
  }
}
.vtco-strategy .strategy-wraper .strategy-item p {
  margin: 0;
  font-size: 20px;
  font-family: "Exo-SemiBold";
  transition: all 0.5s ease;
}
.vtco-strategy .strategy-wraper .strategy-item:hover {
  background: linear-gradient(180deg, #B1D23E 0%, #76AE45 100%);
  color: #ffffff;
  transform: scale(1.05);
}
.vtco-strategy .strategy-wraper .strategy-item:hover .strategy-item--img {
  transform: translateY(-50%) scale(0);
  opacity: 0;
}
.vtco-strategy .strategy-wraper .strategy-item:hover p {
  width: fit-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
}
@media (max-width: 768px) {
  .vtco-strategy .strategy-wraper .strategy-item:hover p {
    font-size: 20px;
  }
}
.vtco-strategy .strategy-decor {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.vtco-strategy .strategy-decor img {
  width: 100%;
  max-width: 48%;
  aspect-ratio: 1/1;
}

.vtco-ecosystems {
  margin-top: 2%;
}
.vtco-ecosystems .vtco-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0;
}
.vtco-ecosystems .section-info .section-desc {
  padding: 0;
  max-width: 75%;
}
@media (max-width: 992px) {
  .vtco-ecosystems .section-info .section-desc {
    max-width: 100%;
    padding: 0;
  }
}

.goPlayLstServies {
  width: 100%;
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4% 2%;
}
@media (max-width: 768px) {
  .goPlayLstServies {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.goPlayService-card {
  width: 100%;
  border-radius: 16px;
  aspect-ratio: 704/334;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}
.goPlayService-card--bground {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.goPlayService-card--bground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.goPlayService-card--content {
  position: absolute;
  padding: 6%;
  inset: 0;
  z-index: 1;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;
  font-size: 1.875vw;
  transition: all 0.3s ease;
  font-family: "Exo-SemiBold";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .goPlayService-card--content {
    font-size: 5vw;
  }
}
.goPlayService-card--content .service-name {
  transition: all 0.5s ease;
}
.goPlayService-card--content:hover {
  background: linear-gradient(180deg, #B1D23E 0%, #76AE45 100%);
  justify-content: center;
  font-size: 2.125vw;
}
@media (max-width: 768px) {
  .goPlayService-card--content:hover {
    font-size: 7vw;
  }
}
.goPlayService-card--content:hover .service-name {
  transform: translateY(0);
}

.vtco-culture {
  background-image: url("../images/img_decor_culture.png");
  background-position: 0 90%;
  background-size: 55% auto;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .vtco-culture {
    background-position: 0 100%;
    background-size: 90% auto;
  }
}
.vtco-culture .vtco-section-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
@media (max-width: 992px) {
  .vtco-culture .vtco-section-wrapper {
    flex-direction: column;
  }
}
.vtco-culture .culture-text {
  width: 45%;
}
@media (max-width: 992px) {
  .vtco-culture .culture-text {
    width: 100%;
  }
}
.vtco-culture .culture-highlights {
  width: 50%;
  position: relative;
  background-image: url("../images/img_decor_dots.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top left;
}
@media (max-width: 992px) {
  .vtco-culture .culture-highlights {
    width: 80%;
    margin: 4% auto;
  }
}
@media (max-width: 576px) {
  .vtco-culture .culture-highlights {
    width: 100%;
    margin: 4% auto 0;
  }
}
.vtco-culture .culture-highlights img {
  width: 100%;
  border-radius: 25% 0 25% 25%;
  aspect-ratio: 730/608;
  object-fit: cover;
}
.vtco-culture .section-desc {
  line-height: 1.5;
  letter-spacing: 1px;
}
.vtco-culture .section-desc b {
  font-family: "Exo-Bold";
}
.vtco-culture .section-desc ul {
  list-style: none;
  margin: 1rem;
}
.vtco-culture .section-desc ul li {
  padding-left: 32px;
  margin-bottom: 8px;
  position: relative;
}
.vtco-culture .section-desc ul li:last-child {
  margin-bottom: 0;
}
.vtco-culture .section-desc ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  background-image: url("../images/ic_list_dots.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.vtc-partner {
  width: 100%;
  background: #85c446;
  margin-bottom: 0;
}
.vtc-partner .vtco-section-wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 4% 0;
  overflow: hidden;
}
@media (max-width: 768px) {
  .vtc-partner .vtco-section-wrapper {
    padding: 6% 0;
  }
}
@media (max-width: 768px) {
  .vtc-partner .vtco-section-wrapper {
    padding: 8% 0;
  }
}
.vtc-partner .vtco-section-wrapper .owl-vtco-partner {
  display: flex;
  gap: 16px;
  width: max-content;
  will-change: transform;
}
.vtc-partner .vtco-section-wrapper .owl-vtco-partner img {
  width: auto;
  height: 34px;
  object-fit: contain;
}
@media (max-width: 768px) {
  .vtc-partner .vtco-section-wrapper .owl-vtco-partner img {
    height: 28px;
  }
}

.vtco-recruitment {
  width: 100%;
  background: #263425;
  margin-top: 0;
}
.vtco-recruitment .vtco-section-col:first-child {
  width: 40%;
  padding: 6% 1rem;
}
@media (max-width: 992px) {
  .vtco-recruitment .vtco-section-col:first-child {
    width: 100%;
  }
}
.vtco-recruitment .vtco-section-col:last-child {
  width: 55%;
}
@media (max-width: 992px) {
  .vtco-recruitment .vtco-section-col:last-child {
    width: 100%;
  }
}
.vtco-recruitment .vtco-section-col:last-child img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 136/87;
}
.vtco-recruitment .vtco-section-col .recruitment-img {
  width: 50%;
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
}
.vtco-recruitment .vtco-section-wrapper {
  padding: 0;
  justify-content: space-between;
  align-items: center;
}
.vtco-recruitment .vtco-section-wrapper .section-info {
  color: #ffffff;
}
.vtco-recruitment .lst-img-recruitment {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  bottom: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
@media (max-width: 1200px) {
  .vtco-recruitment .lst-img-recruitment {
    width: 100%;
    height: fit-content;
    max-height: 75vh;
    position: relative;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1rem;
    aspect-ratio: auto;
  }
}
@media (max-width: 992px) {
  .vtco-recruitment .lst-img-recruitment {
    aspect-ratio: 4/3;
  }
}
.vtco-recruitment .lst-img-recruitment .recruitment-col {
  flex: 0 0 25%;
  transform: translateY(-21%);
}
.vtco-recruitment .lst-img-recruitment .recruitment-col img {
  display: block;
  height: fit-content;
  width: 100%;
  aspect-ratio: 223/480;
  object-fit: cover;
  border-radius: 240px;
  margin-bottom: 8%;
}
.vtco-recruitment .lst-img-recruitment .recruitment-col:nth-child(2n) {
  transform: translateY(-35%);
}
@media (max-width: 1200px) {
  .vtco-recruitment .lst-img-recruitment .recruitment-col:last-child {
    display: none;
  }
}

.vtco-footer {
  width: 100%;
  background-color: #ffffff;
  color: #383F45;
  font-size: 14px;
}
.vtco-footer .vtco-footer-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 4% 16px 2%;
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}
@media (max-width: 992px) {
  .vtco-footer .vtco-footer-wrapper {
    grid-template-columns: repeat(1, 1fr);
    padding: 8% 16px 4%;
    max-width: 75%;
  }
}
@media (max-width: 576px) {
  .vtco-footer .vtco-footer-wrapper {
    grid-template-columns: repeat(1, 1fr);
    padding: 10% 16px 6%;
    max-width: 100%;
  }
}
.vtco-footer .copy-right {
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.vtco-footer .footer-col .footer-title {
  width: 100%;
  margin-bottom: 20px;
  font-family: "Exo-Bold";
  position: relative;
}
@media (max-width: 992px) {
  .vtco-footer .footer-col .footer-title::after {
    content: "∨";
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 992px) {
  .vtco-footer .footer-col .footer-content {
    display: none;
  }
}
.vtco-footer .footer-col .footer-content ul li {
  padding: 8px 0;
  transition: all 0.3s ease;
  line-height: 1.5;
  transition: all 0.3s ease;
}
.vtco-footer .footer-col .footer-content ul li:hover {
  font-family: "Exo-SemiBold";
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.vtco-header {
  width: 100%;
  height: 72px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7ea;
  padding: 16px;
}

.vtco-header-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.vtco-header-wrapper .vtco-logo {
  height: 32px;
}
.vtco-header-wrapper .vtco-logo img {
  width: auto;
  height: 32px;
  object-fit: contain;
}
.vtco-header-wrapper .vtco-nav {
  flex: 1;
}
.vtco-header-wrapper .vtco-nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 4%;
}
@media (max-width: 992px) {
  .vtco-header-wrapper .vtco-nav {
    display: none;
  }
}
.vtco-header-wrapper .vtco-nav .vtco-nav-item {
  color: #596066;
  transition: all 0.3s ease;
  padding: 8px 0;
}
.vtco-header-wrapper .vtco-nav .vtco-nav-item:hover, .vtco-header-wrapper .vtco-nav .vtco-nav-item:first-child {
  color: #85c446;
}
.vtco-header-wrapper .vtco-nav .vtco-nav-item:first-child {
  font-family: "Exo-SemiBold";
}
