@charset "UTF-8";
:root {
  --vtco-primary-60: #72ad37;
  --vtco-primary-50: #85c446;
  --vtco-primary-40: #b0d987;
  --vtco-primary-30: #c2e2a2;
  --vtco-primary-10: #eef7e4;
  --vtco-black: #272727;
  --vtco-recruitment-bg: #263425;
  --grey-800: #383f45;
  --grey-700: #454c52;
  --grey-600: #596066;
  --grey-200: #e5e7ea;
  --grey-100: #f6f7f9;
  --white: #ffffff;
  --black: #000000;
  --neutral-20: #d9ddea;
  --space-sm: 8px;
  --space-md: 12px;
  --space-base: 16px;
  --space-lg: 20px;
  --space-xl: 24px;
  --space-xxl: 32px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: var(--space-md);
}

.btn-normal {
  padding: var(--space-md) var(--space-lg);
  background: var(--vtco-primary-50);
  border-radius: var(--space-sm);
  color: var(--white);
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(103, 110, 118, 0.0784313725);
  font-size: 14px;
  line-height: 1.25;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-normal::after {
  content: "→";
  padding-left: var(--space-sm);
  transition: all 0.3s ease;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  transform: translateX(-25%);
  opacity: 0;
}
.btn-normal span {
  transition: all 0.3s ease;
}
.btn-normal:hover::after {
  transform: translateX(0);
  opacity: 1;
}
.btn-normal:hover span {
  opacity: 0;
}
.btn-normal--trans {
  background-color: var(--grey-50);
  color: var(--vtco-primary-black);
  border: 1px solid rgba(103, 110, 118, 0.0784313725);
}

.vtco-swiper {
  width: 100%;
  height: auto;
  aspect-ratio: 1920/840;
}
.vtco-swiper .vtco-slide {
  width: 100%;
  position: relative;
}
.vtco-swiper .vtco-slide--img {
  width: 100%;
}
.vtco-swiper .vtco-slide--img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1920/840;
  object-fit: cover;
  display: block;
}
.vtco-swiper .vtco-slide--title {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: var(--white);
  font-family: "Exo-SemiBold";
  font-size: 40px;
  padding-right: 16%;
}
@media (max-width: 1440px) {
  .vtco-swiper .vtco-slide--title {
    padding: 1rem;
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .vtco-swiper .vtco-slide--title {
    padding: 1rem;
    font-size: 24px;
  }
}
.vtco-swiper .vtco-pagination {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: end;
  gap: 0.5rem;
}
@media (max-width: 992px) {
  .vtco-swiper .vtco-pagination {
    bottom: 10%;
    justify-content: start;
    padding: 0 1rem;
  }
}
@media (max-width: 1440px) {
  .vtco-swiper .vtco-pagination {
    padding: 0 1rem;
  }
}
.vtco-swiper .vtco-pagination .swiper-pagination-bullet {
  background: var(--white);
  opacity: 0.3;
  aspect-ratio: 1/1;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}
.vtco-swiper .vtco-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--vtco-primary-60);
  opacity: 1;
  width: var(--space-xl);
  border-radius: 10px;
}

.vtco-section {
  width: 100%;
  margin-bottom: 6%;
  position: relative;
}
@media (max-width: 992px) {
  .vtco-section {
    margin-bottom: 8%;
  }
}
@media (max-width: 576px) {
  .vtco-section {
    margin-bottom: 10%;
  }
}
.vtco-section-header {
  margin: var(--space-base) 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-base);
}
.vtco-section-header .section-name {
  margin-bottom: 0 !important;
}
.vtco-section-body {
  width: 100%;
}
.vtco-section-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--space-base);
}
.vtco-section .vtco-section-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: var(--space-base);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  gap: var(--space-base);
}
.vtco-section .vtco-section-wrapper.layout-row {
  flex-direction: row;
}
@media (max-width: 992px) {
  .vtco-section .vtco-section-wrapper.layout-row {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .vtco-section .vtco-section-wrapper {
    width: 100vw;
    max-width: 600px;
  }
}
.vtco-section .vtco-section-wrapper.unLimitWidth {
  max-width: unset;
}
.vtco-section .vtco-section-col {
  width: 50%;
}
@media (max-width: 992px) {
  .vtco-section .vtco-section-col {
    width: 100%;
  }
}
.vtco-section .section-name {
  font-size: 30px;
  font-family: "Exo-SemiBold";
  color: var(--vtco-primary-60);
  margin-bottom: var(--space-base);
}
@media (max-width: 576px) {
  .vtco-section .section-name {
    font-size: 20px;
  }
}
.vtco-section .section-name.style-2 {
  text-align: center;
  color: var(--vtco-primary-black);
}
.vtco-section .section-info {
  color: var(--vtco-primary-black);
}
.vtco-section .section-info .section-title {
  font-family: "Exo-SemiBold";
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: 1px;
  word-spacing: 1px;
}
@media (max-width: 992px) {
  .vtco-section .section-info .section-title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .vtco-section .section-info .section-title {
    font-size: 18px;
  }
}
.vtco-section .section-info .section-desc {
  font-family: "Exo-Medium";
  font-size: 16px;
  padding: 40px 0;
}
@media (max-width: 992px) {
  .vtco-section .section-info .section-desc {
    padding: 24px 0;
  }
}
@media (max-width: 768px) {
  .vtco-section .section-info .section-desc {
    padding: 16px 0;
    font-size: 14px;
  }
}
.vtco-section .section-info .section-desc p {
  margin-bottom: var(--space-md);
  line-height: 1.5;
  word-spacing: 1px;
}
.vtco-section .section-info .section-desc p:last-child {
  margin-bottom: 0;
}
.vtco-section .section-info .section-actions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: var(--space-base);
}

.vtco-strategy {
  background-image: url("../images/img_decor_dots.png"), url("../images/img_decor_rainbow.png");
  background-repeat: no-repeat;
  background-size: auto auto, 78% auto;
  background-position: -8px calc(100% - 8px), top left;
  margin-bottom: 0;
}
.vtco-strategy .vtco-section-wrapper {
  justify-content: space-between;
  padding: 6% 1rem;
}
@media (max-width: 992px) {
  .vtco-strategy .vtco-section-wrapper {
    padding: 8% 1rem;
  }
}
@media (max-width: 576px) {
  .vtco-strategy .vtco-section-wrapper {
    padding: 10% 1rem;
  }
}
.vtco-strategy .strategy-text {
  width: 45%;
}
@media (max-width: 992px) {
  .vtco-strategy .strategy-text {
    width: 100%;
  }
}
.vtco-strategy .strategy-highlights {
  width: 45%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
@media (max-width: 1200px) {
  .vtco-strategy .strategy-highlights {
    width: 50%;
  }
}
@media (max-width: 992px) {
  .vtco-strategy .strategy-highlights {
    width: 80%;
    margin: 4% auto;
  }
}
@media (max-width: 576px) {
  .vtco-strategy .strategy-highlights {
    width: 90%;
  }
}
.vtco-strategy .strategy-wraper {
  width: 100%;
  position: relative;
  z-index: 1;
  align-content: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-xxl);
}
@media (max-width: 992px) {
  .vtco-strategy .strategy-wraper {
    gap: var(--space-lg);
  }
}
@media (max-width: 768px) {
  .vtco-strategy .strategy-wraper {
    gap: var(--space-base);
  }
}
.vtco-strategy .strategy-wraper .strategy-item {
  position: relative;
  width: 100%;
  max-width: 280px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--space-xl);
  background: var(--grey-100);
  border-radius: 50%;
  color: var(--vtco-primary-black);
  transition: all 0.5s ease;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) {
  .vtco-strategy .strategy-wraper .strategy-item {
    gap: 12px;
  }
}
.vtco-strategy .strategy-wraper .strategy-item--img {
  transition: all 0.5s ease;
}
.vtco-strategy .strategy-wraper .strategy-item--img img {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
  display: block;
  transition: all 0.5s ease;
}
@media (max-width: 576px) {
  .vtco-strategy .strategy-wraper .strategy-item--img img {
    max-width: 50%;
  }
}
.vtco-strategy .strategy-wraper .strategy-item p {
  margin: 0;
  font-size: 20px;
  font-family: "Exo-SemiBold";
  transition: all 0.5s ease;
}
@media (max-width: 576px) {
  .vtco-strategy .strategy-wraper .strategy-item p {
    font-size: 16px;
  }
}
.vtco-strategy .strategy-wraper .strategy-item:hover {
  background: linear-gradient(180deg, #B1D23E 0%, #76AE45 100%);
  color: var(--white);
  transform: scale(1.05);
}
.vtco-strategy .strategy-wraper .strategy-item:hover .strategy-item--img {
  transform: translateY(-50%) scale(0);
  opacity: 0;
}
.vtco-strategy .strategy-wraper .strategy-item:hover p {
  width: fit-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 42px;
  word-break: break-all;
}
@media (max-width: 768px) {
  .vtco-strategy .strategy-wraper .strategy-item:hover p {
    font-size: 28px;
  }
}
.vtco-strategy .strategy-wraper .strategy-item::before {
  content: "";
  max-width: 25%;
  position: absolute;
  inset: 0;
  z-index: 999;
  top: 6px;
  left: 15%;
  background-image: url("../images/ic_line_strategy_item.png");
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
}
.vtco-strategy .section-header .section-name {
  color: #272727;
}
.vtco-strategy .strategy-decor {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.vtco-strategy .strategy-decor img {
  width: 100%;
  max-width: 48%;
  aspect-ratio: 1/1;
}

.vtco-ecosystems {
  background-image: url("../images/img_decor_dots.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: bottom right;
  margin-bottom: 0;
}
.vtco-ecosystems .vtco-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0;
  padding-bottom: 6%;
}
.vtco-ecosystems .section-info .section-desc {
  padding: 0;
  max-width: 75%;
}
@media (max-width: 992px) {
  .vtco-ecosystems .section-info .section-desc {
    max-width: 100%;
    padding: 0;
  }
}

.goPlayLstServies {
  width: 100%;
  margin-top: var(--space-xxl);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-xl) var(--space-xl);
}
@media (max-width: 768px) {
  .goPlayLstServies {
    grid-template-columns: repeat(1, 1fr);
    gap: var(--space-lg);
  }
}

.goPlayService-card {
  width: 100%;
  border-radius: var(--space-base);
  aspect-ratio: 704/334;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}
.goPlayService-card--bground {
  width: 100%;
  height: 100%;
  border-radius: var(--space-base);
  overflow: hidden;
}
.goPlayService-card--bground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.goPlayService-card--content {
  position: absolute;
  padding: 6%;
  inset: 0;
  z-index: 1;
  border-radius: var(--space-base);
  color: var(--white);
  text-align: center;
  font-size: 1.875vw;
  transition: all 0.3s ease;
  font-family: "Exo-SemiBold";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  gap: var(--space-lg);
}
@media (max-width: 768px) {
  .goPlayService-card--content {
    font-size: 5vw;
  }
}
.goPlayService-card--content .service-name {
  transition: all 0.5s ease;
  position: absolute;
  bottom: 0%;
  transform: translateY(-75%);
}
.goPlayService-card--content:hover {
  background: linear-gradient(180deg, #B1D23E 0%, #76AE45 100%);
  justify-content: center;
  font-size: 2.5vw;
}
@media (max-width: 768px) {
  .goPlayService-card--content:hover {
    font-size: 7vw;
  }
}
.goPlayService-card--content:hover .service-name {
  bottom: 50%;
  transform: translateY(50%);
}

.vtco-culture {
  background-image: url("../images/img_decor_culture.png");
  background-position: 0 100%;
  background-size: 53% auto;
  background-repeat: no-repeat;
}
@media (max-width: 1440px) {
  .vtco-culture {
    background-position: 0 90%;
  }
}
@media (max-width: 1200px) {
  .vtco-culture {
    background-position: 0 80%;
  }
}
@media (max-width: 992px) {
  .vtco-culture {
    background-position: 0 100%;
    background-size: 90% auto;
  }
}
.vtco-culture .vtco-section-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-base);
}
@media (max-width: 992px) {
  .vtco-culture .vtco-section-wrapper {
    flex-direction: column-reverse;
  }
}
.vtco-culture .culture-text {
  width: calc(40% + 1.5rem);
}
@media (max-width: 992px) {
  .vtco-culture .culture-text {
    width: 100%;
  }
}
.vtco-culture .culture-highlights {
  width: 50%;
  position: relative;
  background-image: url("../images/img_decor_dots.png");
  background-repeat: no-repeat;
  background-size: 15% auto;
  background-position: top left;
}
@media (max-width: 992px) {
  .vtco-culture .culture-highlights {
    width: 100%;
    margin: 4% auto 0;
  }
}
.vtco-culture .culture-highlights img {
  width: 100%;
  border-radius: 25% 0 25% 25%;
  aspect-ratio: 730/608;
  object-fit: cover;
}
.vtco-culture .section-desc {
  line-height: 1.5;
  color: var(--grey-600);
}
.vtco-culture .section-desc b {
  font-family: "Exo-Bold";
}
.vtco-culture .section-desc ul {
  list-style: none;
  margin: 1rem 0;
}
.vtco-culture .section-desc ul li {
  padding-left: var(--space-xxl);
  margin-bottom: var(--space-sm);
  position: relative;
}
.vtco-culture .section-desc ul li:last-child {
  margin-bottom: 0;
}
.vtco-culture .section-desc ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  background-image: url("../images/ic_list_dots.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.vtc-partner {
  background: var(--vtco-primary-50);
  margin-bottom: 0;
}
.vtc-partner .vtco-section-wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 4% 0;
  overflow: hidden;
}
@media (max-width: 768px) {
  .vtc-partner .vtco-section-wrapper {
    padding: 6% 0;
  }
}
@media (max-width: 768px) {
  .vtc-partner .vtco-section-wrapper {
    padding: 8% 0;
  }
}
.vtc-partner .vtco-section-wrapper .owl-vtco-partner {
  display: flex;
  gap: var(--space-base);
  width: max-content;
  will-change: transform;
}
.vtc-partner .vtco-section-wrapper .owl-vtco-partner img {
  width: auto;
  height: 34px;
  object-fit: contain;
}
@media (max-width: 768px) {
  .vtc-partner .vtco-section-wrapper .owl-vtco-partner img {
    height: 28px;
  }
}

.vtco-recruitment {
  background: var(--vtco-recruitment-bg);
  margin-bottom: 0;
}
.vtco-recruitment .vtco-section-col:first-child {
  width: 40%;
  padding: 6% 1rem;
}
@media (max-width: 992px) {
  .vtco-recruitment .vtco-section-col:first-child {
    width: 100%;
  }
}
.vtco-recruitment .vtco-section-col:last-child {
  width: 55%;
}
@media (max-width: 992px) {
  .vtco-recruitment .vtco-section-col:last-child {
    width: 100%;
  }
}
.vtco-recruitment .vtco-section-col:last-child img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 136/87;
}
.vtco-recruitment .vtco-section-col .recruitment-img {
  width: 50%;
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
}
.vtco-recruitment .vtco-section-wrapper {
  padding: 0;
  justify-content: space-between;
  align-items: center;
}
.vtco-recruitment .vtco-section-wrapper .section-info {
  color: var(--white);
}
.vtco-recruitment .lst-img-recruitment {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  bottom: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-base);
}
@media (max-width: 1200px) {
  .vtco-recruitment .lst-img-recruitment {
    width: 100%;
    height: fit-content;
    max-height: 75vh;
    position: relative;
    overflow: hidden;
    padding: 0 1rem;
    aspect-ratio: auto;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  .vtco-recruitment .lst-img-recruitment {
    aspect-ratio: 4/3;
  }
}
.vtco-recruitment .lst-img-recruitment .recruitment-col {
  flex: 0 0 25%;
  transform: translateY(-21%);
}
.vtco-recruitment .lst-img-recruitment .recruitment-col img {
  display: block;
  height: fit-content;
  width: 100%;
  aspect-ratio: 223/480;
  object-fit: cover;
  border-radius: 240px;
  margin-bottom: 8%;
}
.vtco-recruitment .lst-img-recruitment .recruitment-col:nth-child(2n) {
  transform: translateY(-35%);
}
@media (max-width: 1200px) {
  .vtco-recruitment .lst-img-recruitment .recruitment-col:last-child {
    display: none;
  }
}

.section-header {
  margin: 0 0 4% 0;
  background-color: var(--vtco-primary-10);
}
.section-header .section-name {
  color: var(--vtco-primary-black);
  margin: var(--space-base) 0;
}
@media (max-width: 992px) {
  .section-header .section-name {
    margin-bottom: 0;
  }
}

.news-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: var(--space-xl);
  cursor: pointer;
}
.news-card:hover .news-title {
  color: var(--vtco-primary-60) !important;
}
.news-card .news-content {
  width: 66%;
  padding: 2% 0;
}
.news-card .news-content .posted-date {
  color: var(--grey-700);
  margin-bottom: 0.25rem;
}
@media (max-width: 768px) {
  .news-card .news-content .posted-date {
    font-size: 12px;
  }
}
.news-card .news-content .news-title {
  color: var(--vtco-primary-black);
  font-size: 20px;
  font-family: "Exo-SemiBold";
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  margin-bottom: 0.25rem;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .news-card .news-content .news-title {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .news-card .news-content .news-title {
    font-size: 14px;
  }
}
.news-card .news-content .news-desc {
  color: var(--grey-700);
  font-size: 16px;
  font-family: "Exo";
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-card .news-thumb {
  width: 35%;
}
.news-card .news-thumb img {
  border-radius: var(--space-base);
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 298/180;
}
.news-card.news-featured {
  justify-content: space-between;
}
@media (max-width: 992px) {
  .news-card.news-featured {
    flex-direction: column;
  }
}
.news-card.news-featured .news-content {
  width: 40%;
}
@media (max-width: 992px) {
  .news-card.news-featured .news-content {
    width: 100%;
  }
}
.news-card.news-featured .news-content .posted-date {
  color: var(--grey-700);
  font-family: "Exo-Medium";
  margin-bottom: var(--space-sm);
}
.news-card.news-featured .news-content .news-title {
  color: var(--vtco-primary-black);
  font-size: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: var(--space-base);
  line-height: 1.25;
}
@media (max-width: 992px) {
  .news-card.news-featured .news-content .news-title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .news-card.news-featured .news-content .news-title {
    font-size: 18px;
  }
}
.news-card.news-featured .news-content .news-desc {
  color: var(--grey-700);
  font-size: 16px;
  font-family: "Exo";
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 768px) {
  .news-card.news-featured .news-content .news-desc {
    font-size: 14px;
  }
}
.news-card.news-featured .news-thumb {
  width: 58%;
}
@media (max-width: 992px) {
  .news-card.news-featured .news-thumb {
    width: 100%;
  }
}
.news-card.news-featured .news-thumb img {
  aspect-ratio: 832/460;
}

.vtco-news {
  margin-top: 0;
  margin-bottom: 4%;
}
.vtco-news .vtco-section-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  gap: var(--space-sm);
}
.vtco-news .vtco-section-footer {
  margin-top: 2%;
}
.vtco-news .vtco-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
}
.vtco-news .news-latest {
  width: 60%;
}
@media (max-width: 992px) {
  .vtco-news .news-latest {
    width: 100%;
  }
}
.vtco-news .news-latest .news-card {
  padding: var(--space-xl) 0;
  border-top: 1px solid var(--neutral-20);
}
.vtco-news .news-latest .news-card:first-child {
  border-top: none;
  padding-top: 0;
}
.vtco-news .news-latest .news-card:last-child {
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .vtco-news .news-latest .news-card .news-desc {
    display: none;
  }
  .vtco-news .news-latest .news-card .news-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0;
  }
  .vtco-news .news-latest .news-card .news-thumb img {
    aspect-ratio: 1/1;
  }
}
.vtco-news .news-outstanding {
  width: 30%;
}
@media (max-width: 992px) {
  .vtco-news .news-outstanding {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .vtco-news .news-outstanding .btn-normal {
    padding: var(--space-sm) var(--space-base);
  }
}
.vtco-news .news-outstanding .news-card {
  margin-bottom: var(--space-lg);
}
.vtco-news .news-outstanding .news-card:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .vtco-news .news-outstanding .news-card .news-thumb {
    width: fit-content;
    max-width: 110px;
  }
}
.vtco-news .news-outstanding .news-card .news-thumb img {
  aspect-ratio: 1/1;
}
.vtco-news .news-outstanding .news-card .news-content {
  flex: 1;
}
.vtco-news .news-outstanding .news-card .posted-date {
  font-size: 14px;
}
.vtco-news .news-outstanding .news-card .news-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
  font-size: 16px;
}
@media (max-width: 768px) {
  .vtco-news .news-outstanding .news-card .news-title {
    font-size: 14px;
  }
}
.vtco-news .news-outstanding .news-card .news-desc {
  display: none;
}

.page-breadcrumb {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: var(--space-sm);
}
.page-breadcrumb a {
  color: var(--vtco-primary-black);
}

.news-section .vtco-section-wrapper {
  flex-direction: column;
  gap: 0;
}

.article-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: start;
  gap: var(--space-sm);
}
.article-wrap .article-content .article-title {
  width: 100%;
  margin-bottom: var(--space-base);
  font-family: "Exo-SemiBold";
  font-size: 2rem;
  line-height: 1.25;
}
@media (max-width: 768px) {
  .article-wrap .article-content .article-title {
    font-size: 1.5rem;
  }
}
.article-wrap .article-content .article-meta {
  width: 100%;
  margin-bottom: var(--space-lg);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-base);
}
.article-wrap .article-content .article-meta p {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-xs);
}
.article-wrap .article-content .article-meta p img {
  margin-right: 0.25rem;
}
.article-wrap .article-content .article-meta .article-author {
  font-family: "Exo-Medium";
}
.article-wrap .article-content .article-meta .article-author span {
  color: var(--vtco-primary-60);
  margin-left: 0.25rem;
}
.article-wrap .article-related .news-card {
  flex-direction: column;
  gap: var(--space-xs);
}
.article-wrap .article-related .news-card .news-thumb {
  width: 100%;
}
.article-wrap .article-related .news-card .news-content {
  width: 100%;
}
.article-wrap .article-related .article-related-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-base);
}
@media (max-width: 992px) {
  .article-wrap .article-related .article-related-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .article-wrap .article-related .article-related-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.recruitment-section {
  width: 100%;
  position: relative;
  padding: 4% 0;
}
.recruitment-section .section-name {
  margin-bottom: 2%;
}
@media (max-width: 992px) {
  .recruitment-section {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .recruitment-section .vtco-section-wrapper {
    padding: 0;
    gap: 0;
  }
}
.recruitment-section .recruitment-content {
  width: 100%;
  max-width: 1440px;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: var(--space-base);
}
@media (max-width: 992px) {
  .recruitment-section .recruitment-content {
    position: relative;
    top: 0%;
    left: 0;
    transform: translate(0%, 0%);
    padding: 0;
    text-align: center;
  }
}
.recruitment-section .recruitment-content .frame-wrapper {
  width: 40%;
  max-width: 588px;
  padding: 2.5rem 2rem;
  background: rgba(255, 255, 255, 0.8980392157);
  box-shadow: 0px 15px 35px 0px rgba(103, 110, 118, 0.0784313725);
  backdrop-filter: blur(24px);
  border-radius: var(--space-xl);
}
@media (max-width: 1200px) {
  .recruitment-section .recruitment-content .frame-wrapper {
    width: 100%;
    max-width: 55%;
  }
}
@media (max-width: 992px) {
  .recruitment-section .recruitment-content .frame-wrapper {
    width: 100%;
    max-width: 100%;
    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
    border-radius: unset;
    padding: 1.5rem 1rem;
  }
}
.recruitment-section .recruitment-content .recruitment-title {
  font-size: 48px;
  font-family: "Exo-SemiBold";
  margin-bottom: 2rem;
  color: var(--vtco-primary-60);
}
@media (max-width: 992px) {
  .recruitment-section .recruitment-content .recruitment-title {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (max-width: 576px) {
  .recruitment-section .recruitment-content .recruitment-title {
    font-size: 24px;
  }
}
.recruitment-section .recruitment-content .recruitment-desc {
  color: var(--grey-600);
  font-family: "Exo-Medium";
}
@media (max-width: 576px) {
  .recruitment-section .recruitment-content .recruitment-desc {
    font-size: 14px;
  }
}
.recruitment-section .recruitment-image {
  width: 75%;
  margin-left: auto;
}
.recruitment-section .recruitment-image img {
  width: 100%;
  height: auto;
  aspect-ratio: 1075/500;
  object-fit: cover;
  border-radius: var(--space-xl);
}
@media (max-width: 992px) {
  .recruitment-section .recruitment-image img {
    border-radius: 0;
    aspect-ratio: 744/500;
  }
}
@media (max-width: 768px) {
  .recruitment-section .recruitment-image img {
    aspect-ratio: 375/252;
  }
}
@media (max-width: 992px) {
  .recruitment-section .recruitment-image {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.why-join-section {
  width: 100%;
  background-color: var(--vtco-primary-10);
  padding: 4% 0;
}
@media (max-width: 576px) {
  .why-join-section {
    padding: 8% 0;
  }
}
.why-join-section .lst-why-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-base);
}
@media (max-width: 992px) {
  .why-join-section .lst-why-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .why-join-section .lst-why-card {
    grid-template-columns: repeat(1, 1fr);
  }
}
.why-join-section .why-card {
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  padding: var(--space-xxl) var(--space-xl);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: var(--space-base);
  background-color: var(--white);
  box-shadow: 0px 15px 35px 0px rgba(103, 110, 118, 0.0784313725);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1215686275);
  border-radius: 16px;
}
.why-join-section .why-card-header img {
  width: 64px;
  height: 64px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.why-join-section .why-card-body {
  text-align: center;
  color: var(--vtco-primary-black);
}
.why-join-section .why-card-body .card-title {
  font-size: 24px;
  font-family: "Exo-SemiBold";
  word-spacing: 1px;
  min-height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .why-join-section .why-card-body .card-title {
    min-height: unset;
  }
}
.why-join-section .why-card-body .card-desc {
  margin-top: var(--space-lg);
}

.jobs-section .vtco-section-wrapper {
  max-width: 992px;
  padding: 0 var(--space-base);
}
@media (max-width: 992px) {
  .jobs-section .vtco-section-wrapper {
    padding: var(--space-base);
  }
}
.jobs-section .section-name {
  text-align: start !important;
  margin-bottom: 0;
}
.jobs-section .jobs-table {
  width: 100%;
}
.jobs-section .jobs-table table {
  width: 100%;
  border: none;
}
.jobs-section .jobs-table table thead th {
  width: 20%;
  padding: var(--space-md) 0;
  text-align: center;
  color: var(--grey-600);
  border-bottom: 1px solid var(--grey-200);
  font-family: "Exo-SemiBold";
}
.jobs-section .jobs-table table thead th:first-child {
  width: 60%;
  text-align: start;
}
@media (max-width: 576px) {
  .jobs-section .jobs-table table thead th:first-child {
    width: 100%;
    display: block;
  }
}
@media (max-width: 576px) {
  .jobs-section .jobs-table table thead th {
    display: none;
    width: 0;
  }
}
.jobs-section .jobs-table table tbody td {
  color: var(--grey-600);
  padding: var(--space-base) 0;
  border-bottom: 1px solid var(--grey-200);
  text-align: center;
}
.jobs-section .jobs-table table tbody td:first-child {
  color: var(--vtco-primary-black);
  font-family: "Exo-SemiBold";
  text-align: start;
}
.jobs-section .jobs-table table tbody td:first-child small {
  color: var(--grey-600);
  font-family: "Exo";
  margin-top: var(--space-md);
}
@media (max-width: 576px) {
  .jobs-section .jobs-table table tbody td:first-child {
    width: 100%;
    display: block;
  }
}
@media (max-width: 576px) {
  .jobs-section .jobs-table table tbody td {
    display: none;
    width: 0;
  }
}

.vtco-footer {
  width: 100%;
  background-color: var(--white);
  color: var(--grey-800);
  font-size: 14px;
  border-top: 1px solid var(--grey-200);
}
.vtco-footer .vtco-footer-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 4% var(--space-base);
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--space-base);
}
@media (max-width: 992px) {
  .vtco-footer .vtco-footer-wrapper {
    grid-template-columns: repeat(1, 1fr);
    padding: 6% var(--space-base);
    max-width: 75%;
  }
}
@media (max-width: 768px) {
  .vtco-footer .vtco-footer-wrapper {
    padding: 8% var(--space-base);
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .vtco-footer .vtco-footer-wrapper {
    padding: 10% var(--space-base);
  }
}
.vtco-footer .copy-right {
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.vtco-footer .footer-col .footer-title {
  width: 100%;
  margin-bottom: var(--space-lg);
  font-family: "Exo-Bold";
  position: relative;
}
@media (max-width: 992px) {
  .vtco-footer .footer-col .footer-title::after {
    font-family: "FontAwesome";
    content: "\f0d7";
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 992px) {
  .vtco-footer .footer-col .footer-content {
    display: none;
  }
}
.vtco-footer .footer-col .footer-content ul li {
  padding: var(--space-sm) 0;
  transition: all 0.3s ease;
  line-height: 1.5;
  transition: all 0.3s ease;
}
.vtco-footer .footer-col .footer-content ul li:hover {
  font-family: "Exo-SemiBold";
}
.vtco-footer .footer-col:last-child .footer-title {
  margin-bottom: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.vtco-header {
  width: 100%;
  height: 72px;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-200);
  padding: var(--space-base);
}

.vtco-header-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-base);
}
.vtco-header-wrapper .vtco-logo {
  height: 32px;
}
.vtco-header-wrapper .vtco-logo img {
  width: auto;
  height: 32px;
  object-fit: contain;
}
.vtco-header-wrapper .vtco-nav {
  flex: 1;
}
.vtco-header-wrapper .vtco-nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 4%;
}
@media (max-width: 992px) {
  .vtco-header-wrapper .vtco-nav {
    display: none;
  }
}
.vtco-header-wrapper .vtco-nav .vtco-nav-item {
  color: var(--grey-600);
  transition: all 0.3s ease;
  padding: var(--space-sm) 0;
}
.vtco-header-wrapper .vtco-nav .vtco-nav-item:hover, .vtco-header-wrapper .vtco-nav .vtco-nav-item:first-child {
  color: var(--vtco-primary-50);
}
.vtco-header-wrapper .vtco-nav .vtco-nav-item:first-child {
  font-family: "Exo-SemiBold";
}
