@use "../global" as *;

.vtco-core-values {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  overflow: hidden;
  margin: 1% 0;
  @include res-responsive(lg) {
    justify-content: start;
    align-items: end;
  }
  .section-information {
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    @include res-responsive(lg) {
      position: relative;
      max-width: 600px;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
    .section-col {
      width: 45%;
      &.cols-label {
        @include res-responsive(lg) {
          width: 100%;
        }

        @include res-responsive(sm) {
          width: 50%;
          padding-bottom: 1rem;
          padding-left: 1rem;
        }
      }

      &.cols-detail {
        @include res-responsive(sm) {
          width: 100%;
        }
      }

      .lst-value-label {
        width: fit-content;
        float: right;
        @include res-responsive(lg) {
          display: flex;
          float: unset;
          justify-content: center;
          align-items: center;
          margin: 1rem auto 0;
        }

        @include res-responsive(sm) {
          flex-direction: column;
          margin: 0;
          justify-content: start;
          align-items: start;
        }
      }
    }
  }

  .value-label {
    color: var(--grey-img-be-u);
    font-size: 18px;
    @include txt-font-medium;
    padding: 10px 12px;
    span {
      border-bottom: 3px solid var(--vtco-primary-50);
      margin-right: 0.5rem;
      color: var(--vtco-black);
      font-size: 24;
      @include txt-font-semibold;
    }

    &.style-1 {
      span {
        border-color: var(--vtco-primary-50);
      }
    }
    &.style-2 {
      span {
        border-color: #eec933;
      }
    }
    &.style-3 {
      span {
        border-color: #4dbdf5;
      }
    }
    &.style-4 {
      span {
        border-color: #ee7b49;
      }
    }
  }

  .img-be-u {
    width: 55%;
    margin-top: 2%;
    display: flex;
    justify-content: start;
    align-items: end;
    @include res-responsive(xxl) {
      width: 50%;
      margin-top: 6%;
    }

    @include res-responsive(xl) {
      margin-top: 10%;
    }

    @include res-responsive(lg) {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(35%, -50%);
      margin-top: 0;
      z-index: 0;
    }

    @include res-responsive(sm) {
      right: 0;
      bottom: 25%;
      transform: translate(0, 50%);
    }

    img {
      width: 100%;
      object-fit: contain;

      @include res-responsive(lg) {
        scale: 1.5;
        transform: translate(-5%, -5%);
      }

      @include res-responsive(sm) {
        transform: translate(15%, 0%);
      }
    }
  }
}

.core-card {
  width: 100%;
  box-shadow: 0px 15px 35px 0px #676e7614;
  box-shadow: 0px 5px 15px 0px #0000001f;
  background: #ffffff;
  border-radius: 24px;
  .card-header {
    padding: 12px 10px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 34px;
      height: 34px;
      aspect-ratio: 1/1;
      object-fit: contain;
    }
  }
  .card-body {
    padding: 24px;
    font-size: 14px;
    p {
      margin-bottom: 1.5rem;
    }
  }

  &.style-1 {
    .card-header {
      background-color: #b0d987;
      color: var(--vtco-primary-90);
    }
  }

  &.style-2 {
    .card-header {
      background-color: #e5cf76;
      color: #a35c00;
    }
  }

  &.style-3 {
    .card-header {
      background-color: #7ad3ff;
      color: #0d6b99;
    }
  }

  &.style-4 {
    .card-header {
      background-color: #ff8e5d;
      color: #8b4400;
    }
  }
}

.core-values-grid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @include display-grid-cols(2, var(--space-xxl));
  @include res-responsive(md) {
    grid-template-columns: 1fr;
  }
}

.vtco-list {
  p {
    margin-bottom: 1rem !important;
  }
  ul {
    list-style: none;
    li {
      position: relative;
      display: flex;
      gap: 0.25rem;
      margin-bottom: 0.5rem;
      @include txt-font-semibold;
      &:last-child {
        margin-bottom: none;
      }
      &::before {
        height: 24px;
        width: 24px;
        content: "";
        aspect-ratio: 1 / 1;
        background-image: url(../images/ic_check_double.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

.section-decor {
  position: relative;
  width: 62vw;
  max-width: 1167px;
  margin-top: 5%;
  padding-top: 5%;
  display: flex;
  justify-content: end;
  align-items: end;
  overflow: hidden;
  @include res-responsive(xxl) {
    width: 100%;
    margin-top: 0%;
    padding-left: 1rem;
  }
}
.vtco-strategic {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-bottom: 0;
  .section-information {
    width: 100%;
    max-width: 1200px;
    padding: 2rem 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
    z-index: 10;
    @include res-responsive(xxl) {
      padding: 2rem 1rem 0;
      position: relative;
      inset: 0;
      transform: translate(0);
    }

    .section-name,
    .section-info {
      width: 50%;
      max-width: 588px;
      @include res-responsive(xxl) {
        width: 100%;
        max-width: 820px;
        text-align: center;
        margin: 0 auto;
      }
      @include res-responsive(lg) {
        width: 100%;
        max-width: 600px;
        text-align: start;
      }
    }
  }

  .section-decor {
    img {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0;
    }
    .bg-1 {
      position: relative;
      width: 100%;
      opacity: 1;
    }

    .bg-2 {
      right: 75%;
      bottom: 10%;
      width: calc(184 / 1167 * 100%);
      max-width: 184px;
      animation: zoomIn 0.5s ease-in forwards;
    }

    .bg-3 {
      bottom: 65%;
      right: 33%;
      width: calc(143 / 1167 * 100%);
      max-width: 143px;
      animation: bounceUp 0.5s 0.2s ease-in forwards;
    }

    .cloud-1 {
      z-index: 1;
      bottom: 16%;
      width: calc(454 / 1167 * 100%);
      max-width: 454px;
      animation: bounceUp 0.3s 0.5s ease-in forwards;
    }

    .cloud-2 {
      z-index: 2;
      right: 10%;
      width: calc(648 / 1167 * 100%);
      max-width: 648px;
      animation: bounceUp 0.3s 0.6s ease-in forwards;
    }

    .cloud-3 {
      z-index: 3;
      width: calc(475 / 1167 * 100%);
      max-width: 475px;
      animation: bounceUp 0.3s 0.4s ease-in forwards;
    }

    .cloud-4 {
      z-index: 4;
      right: 35%;
      width: calc(187 / 1167 * 100%);
      max-width: 187px;
      animation: bounceUp 0.3s 0.3s ease-in forwards;
    }

    .cloud-5 {
      z-index: 5;
      width: calc(189 / 1167 * 100%);
      max-width: 189px;
      animation: bounceUp 0.3s 0.2s ease-in forwards;
    }

    .cloud-6 {
      z-index: 6;
      width: calc(401 / 1167 * 100%);
      max-width: 401px;
      animation: bounceUp 0.3s 0.1s ease-in forwards;
    }

    .cloud-7 {
      z-index: 7;
      width: calc(248 / 1167 * 100%);
      max-width: 248px;
      animation: bounceUp 0.3s ease-in forwards;
    }

    .rocket-be-u {
      z-index: 8;
      bottom: 9%;
      right: 18%;
      width: calc(621 / 1167 * 100%);
      max-width: 621px;
      animation: scaleIn 0.75s ease-in forwards;
    }
  }
}

@keyframes scaleIn {
  from {
    bottom: -10%;
    right: 0%;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceUp {
  from {
    opacity: 0;
  }
  50% {
    transform: scale(1.25);
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.25);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
