@use "../global" as *;

.ecosystems-page-layout {
  width: 100%;
  position: relative;
  background-image: url("../images/img-ecosystem/bg_entertaiment_page_1.png"),
    url("../images/img-ecosystem/bg_entertaiment_page_2.png");
  background-position: 120% 70%, 10% calc(100% + 450px);
  background-size: 45% auto, 50% auto;
  background-repeat: no-repeat;
  @include res-responsive(lg) {
    background-position: 150% 75%, 10% calc(100% + 320px);
    background-size: 75% auto, 75% auto;
  }
  @include res-responsive(md) {
    background-position: 150% 75%, 10% calc(100% + 64px);
    background-size: 75% auto, 75% auto;
  }

  &::after {
    content: "";
    width: 100%;
    aspect-ratio: 1920/674;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-image: url("../images/img-ecosystem/bg_entertaiment_page.png");
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    min-height: 60vh;

    @include res-responsive(xl) {
      min-height: 50vh;
    }

    @include res-responsive(lg) {
      min-height: 420px;
    }

    @include res-responsive(md) {
      min-height: 320px;
    }
    @include res-responsive(sm) {
      min-height: 280px;
      padding: 8% 0;
      background-position: center center;
      background-size: auto 100%;
    }
  }
  .page-header {
    position: relative;
    color: white;
    padding: 2% 0;
    max-width: 68vw;
    margin: 0 auto;
    letter-spacing: -1px;
    min-height: 35vh;

    @include res-responsive(lg) {
      padding: 4% 0;
      max-width: 75vw;
      min-height: unset;
    }
    @include res-responsive(sm) {
      padding: 6% 0;
    }
    .page-name {
      @include txt-font-bold;
      font-size: clamp(24px, 4.5vw, 48px);
      text-align: center;
      margin-bottom: 0.75rem;
    }
    .page-desc {
      @include txt-font-medium;
      font-size: clamp(16px, 3.25vw, 42px);
      text-align: center;
      line-height: 1.2;

      span {
        @include txt-font-Jersey10;
        font-size: clamp(16px, 5vw, 70px);
        text-align: center;
      }
    }
  }
}

.service-container {
  width: 100%;
  max-width: 67vw;
  margin: 4% auto;
  position: relative;
  padding: 2% 0.5rem 2%;
  display: grid;
  grid-template-areas: "ord thumb" "intro thumb" "more more";
  grid-template-columns: 1fr 1.1fr;
  column-gap: 8%;

  @include res-responsive(xxl) {
    max-width: 80vw;
  }

  @include res-responsive(lg) {
    max-width: 600px;
    padding: 4% 1rem;
    grid-template-areas: "ord" "thumb" "intro" "more";
    grid-template-columns: 1fr;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
        @include res-responsive(xxl) {
      padding-bottom: 6% !important;
    }
    @include res-responsive(lg) {
      padding-bottom: 12% !important;
    }
  }
  &:nth-child(even) {
    grid-template-areas: "thumb ord" "thumb intro" "more more";
    grid-template-columns: 1.1fr 1fr;
    @include res-responsive(lg) {
      max-width: 600px;
      padding: 4% 1rem;
      grid-template-areas: "ord" "thumb" "intro" "more";
      grid-template-columns: 1fr;
    }
  }

  .service-ord {
    grid-area: ord;
    @include txt-font-Jersey10;
    font-size: clamp(160px, 15vw, 260px);
    color: var(--error-600);
    line-height: 1;
    @include res-responsive(lg) {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  .service-intro {
    grid-area: intro;
    height: 100%;
    h3 {
      @include txt-font-semibold;
      font-size: clamp(20px, 4vw, 32px);
      margin-bottom: 0.5rem;
      @include res-responsive(lg) {
        text-align: center;
      }
    }

    ul {
      li {
        font-size: 16px;
        padding-left: 32px;
        position: relative;
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
        &::before {
          content: "";
          width: 24px;
          height: 24px;
          position: absolute;
          top: 4px;
          left: 0;
          background-image: url("../images/img-ecosystem/ic_entertaiment_dots.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .service-thumb {
    width: 100%;
    grid-area: thumb;
    margin: auto;
    img {
      width: 100%;
    }
    @include res-responsive(lg) {
      width: 100%;
      max-width: 360px;
    }
  }

  .service-more {
    width: 100%;
    margin-top: 2rem;
    grid-area: more;
    .grid-layout {
      text-align: center;
      .lst-prod {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.75rem;
        margin: 1.5rem auto 0;
        @include res-responsive(sm) {
          width: 100%;
        }
        .prod-card {
          background-color: var(--grey-100);
          padding: 10px 24px;
          border-radius: 1rem;
          height: 104px;
          @include res-responsive(lg) {
            height: 70px;
          }
          @include res-responsive(sm) {
            height: 50px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    .education-swiper {
      .swiper-button-disabled {
        display: none;
      }
      .education-button {
        width: 48px;
        height: 48px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: white;
        background-image: url("../images/ic_arrow_right.png");
        background-position: center;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        &::after {
          display: none;
        }
        &.education-button-prev {
          transform: rotate(180deg);
        }
      }
    }
    .education-slide {
      width: 100% !important;
      border-radius: 16px;
      overflow: hidden;
      max-width: 360px;
      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 360/224;
        object-fit: cover;
      }
      @include res-responsive(md) {
        max-width: unset;
      }
    }
  }
}

.entertaiment-page {
  .page-header {
    margin-bottom: 6%;
  }
}
.education-page {
  &.ecosystems-page-layout {
    background-image: url("../images/img-ecosystem/bg_education_page_1.png");
    background-position: 120% 110%;
    background-size: 50% auto;
    background-repeat: no-repeat;
    @include res-responsive(lg) {
      background-size: 100% auto;
    }
    &::after {
      background-image: url("../images/img-ecosystem/bg_education_page.png");
    }
  }
  .service-ord {
    color: #27b0f5;
  }
  .service-container:nth-child(2) {
    background-color: #c2ebff;
    border-radius: 24px;
    @include res-responsive(lg) {
      max-width: 100%;
      border-radius: 0;
      padding: 1rem;
    }
    .service-intro {
      padding: 0 1.5rem 0;
      ul {
        li {
          &::before {
            background-image: url("../images/img-ecosystem/ic_education_dots.png");
          }
        }
      }
    }
  }
}
.vtco-online-payment {
  padding: 0;
  margin-bottom: 0;
  background-color: #545aea;
  background-image: url("../images/bg_dot_online_payment.png"),
    url("../images/bg_ecosystem_online_payment.png");
  background-position: left center, right top;
  background-size: auto auto, 65% auto;
  background-repeat: no-repeat, no-repeat;
  @include res-responsive(lg) {
    width: 100%;
    background-position: left center, right center;
    background-size: auto auto, auto 100%;
  }

  .vtco-section-wrapper {
    padding: 0 1rem;
  }

  .vtco-section-body {
    justify-content: space-around;
    align-items: stretch;
    @include res-responsive(lg) {
      flex-direction: column;
    }
  }
  .section-text {
    width: 45%;
    color: var(--white);
    padding: 8% 1rem;
    @include res-responsive(xxl) {
      padding: 4% 1rem;
    }
    @include res-responsive(lg) {
      width: 100%;
    }
    .section-name {
      color: white;
    }

    .section-title {
      font-size: clamp(36px, 5vw, 60px);
      color: white;
    }

    .section-desc {
      width: 65%;
      color: white;
      @include res-responsive(xl) {
        width: 85%;
      }

      @include res-responsive(lg) {
        width: 100%;
      }

      .desc-highlight {
        margin-top: 25%;
        padding-top: 6%;
        position: relative;
        @include res-responsive(lg) {
          margin-top: 8%;
          padding-top: 4%;
        }
        &::after {
          width: 35%;
          height: 4px;
          background-color: var(--vtco-second-50);
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }

        &::before {
          width: 15%;
          height: 4px;
          background-color: #27b0f5;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          border-right: 2px solid #545aea;
        }
      }
    }
  }

  .section-highlights {
    width: 45%;
    position: relative;
    @include display-flex-layout(
      column,
      nowrap,
      center,
      start,
      var(--space-base)
    );
    background-image: url("../images/ic_phone_gobank.png"),
      url("../images/bg_dot_online_payment_rotate.png");
    background-position: center bottom, bottom center;
    background-size: contain, auto auto;
    background-repeat: no-repeat, no-repeat;
    @include res-responsive(xxl) {
      justify-content: end;
      width: 50%;
      padding-bottom: 10%;
    }
    @include res-responsive(lg) {
      width: 100%;
      background-position: right bottom, right bottom;
    }

    @include res-responsive(md) {
      background-position: top center, bottom right;
      background-size: contain, 40% auto;
    }

    .criteria-wraper {
      width: 55%;
      padding: 10% 0 0;

      @include res-responsive(lg) {
        padding: 6% 1rem;
        width: 75%;
      }

      @include res-responsive(md) {
        padding: 75% 1rem 6%;
        width: 100%;
      }
    }

    .criteria-item {
      width: 100%;
      padding: 10px 12px;
      position: relative;
      color: var(--vtco-black);
      border-radius: 10px;
      background-color: #eefac7;
      @include txt-font-semibold;
      display: flex;
      gap: 0.5rem;
      margin-bottom: var(--space-xl);
      z-index: 1;
      &::before {
        height: 24px;
        width: 24px;
        content: "";
        aspect-ratio: 1/1;
        background-image: url("../images/ic_check_double.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      &::after {
        border: 6px solid #eef7e44d;
        content: "";
        position: absolute;
        inset: -6px;
        border-radius: 16px;
        z-index: 2;
      }

      @include res-responsive(md) {
        margin-right: auto;
        margin-left: auto;
      }

      &:nth-child(1) {
        width: 100%;
      }

      &:nth-child(2) {
        width: 90%;
      }

      &:nth-child(3) {
        width: 80%;
      }

      &:nth-child(4) {
        width: 65%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.office-preview {
  width: 100%;
  position: relative;

  .office-img {
    width: 100%;
    position: relative;
    @include display-flex-layout(row, nowrap, center, center, 0);
    &::after {
      content: "";
      background: #e3f1d0;
      position: absolute;
      top: 15%;
      bottom: 15%;
      left: 0;
      right: 0;
      clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 100%, 50% 90%, 0 100%);
      z-index: -1;
    }
    img {
      width: 50%;
      min-width: 992px;
      @include res-responsive(xxl) {
        width: 75%;
      }
      @include res-responsive(lg) {
        width: 75%;
        min-width: unset;
      }
      @include res-responsive(md) {
        width: 90%;
      }
    }
  }

  .office-intro {
    padding: 1rem;
    position: absolute;
    max-width: 1200px;
    height: fit-content;
    margin: 0 auto;
    @include display-flex-layout(
      row,
      nowrap,
      space-between,
      stretch,
      var(--space-base)
    );
    right: 0;
    left: 0;
    bottom: 12%;
    @include res-responsive(lg) {
      position: relative;
      bottom: 0;
      justify-content: space-evenly;
    }
    @include res-responsive(md) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    .box-intro {
      width: fit-content;
      max-width: 345px;
      padding: 24px;
      @include display-flex-layout(
        column,
        nowrap,
        start,
        start,
        var(--space-sm)
      );
      word-spacing: 1px;
      letter-spacing: 0.5px;

      @include res-responsive(lg) {
        width: 48%;
      }

      @include res-responsive(md) {
        width: 100%;
      }
      .box-icon {
        width: 48px;
        img {
          width: 100%;
          height: auto;
          aspect-ratio: 1/1;
        }
      }
      p {
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }

      ul {
        li {
          width: 100%;
          display: flex;
          gap: 0.5rem;
          @include txt-font-semibold;
          &::before {
            height: 24px;
            width: 24px;
            content: "";
            aspect-ratio: 1/1;
            background-image: url("../images/ic_check_double.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

.vtco-office-section {
  margin: 2% 0;
  .vtco-section-wrapper {
    max-width: 1024px;
    text-align: center;

    .section-desc {
      @include txt-font-regular;
    }

    .section-actions {
      @include display-flex-layout(
        column,
        nowrap,
        center,
        center,
        var(--space-sm)
      );

      .btn-normal {
        padding: 18px 48px;
        font-size: 18px;
        @include txt-font-semibold;
        span {
          @include display-flex-layout(
            row,
            nowrap,
            center,
            center,
            var(--space-sm)
          );
        }
      }
    }
  }
}

.vtco-office-partners {
  max-width: 992px;
  margin-right: auto;
  margin-left: auto;

  .vtco-section-header {
    margin-bottom: 1rem;
    @include txt-font-medium;
    justify-content: center;
  }

  .vtco-section-body {
    flex-direction: column;
  }

  .location-maps {
    width: 100%;
    aspect-ratio: 954/526;

    iframe {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
  }
}

.partner-type {
  width: 100%;
  padding: 3% 1rem;
  &:nth-child(2n + 1) {
    background-color: var(--grey-50);
  }
  .lst-partners {
    margin-bottom: 0;
  }

  @include res-responsive(lg) {
    padding: 6% 1rem;
  }

  @include res-responsive(md) {
    padding: 10% 1rem;
  }
}

.game-type {
  width: 100%;
  font-family: "Exo-SemiBold";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 30px;
  border-left: 6px solid #85c446;
  line-height: 1;
  padding: 0 0.5rem;
  max-width: 960px;
  margin: 0 auto 2rem;
}

.lst-partners {
  width: 100%;
  @include display-grid-cols(8, var(--space-base));
  justify-items: center;
  align-content: center;
  margin-bottom: 8%;
  max-width: 960px;
  margin: 0 auto;
  @include res-responsive(lg) {
    grid-template-columns: repeat(5, 1fr);
  }

  @include res-responsive(md) {
    grid-template-columns: repeat(4, 1fr);
  }
  .partners-item {
    width: 100%;
    max-width: 110px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid #e5e7ea;
    @include display-flex-layout(row, nowrap, center, center, var(--space-sm));
    aspect-ratio: 1/1;

    @include res-responsive(md) {
      max-width: 64px;
    }
    img {
      width: 100%;
      height: auto;
      max-width: 84px;
      object-fit: contain;
      aspect-ratio: 1/1;
    }
  }
}
