@use "../global" as *;

.vtco-swiper {
  width: 100%;
  height: auto;
  aspect-ratio: 1920/840;
  .vtco-slide {
    width: 100%;
    position: relative;
    &--img {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1920/840;
        object-fit: cover;
        display: block;
      }
    }
    &--title {
      width: 100%;
      max-width: $res-breakpoint-xxl;
      margin: 0 auto;
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      color: $vars-white;
      @include txt-semiBoldText;
      font-size: func-getPxFromRem(2.5);
      padding-right: 16%;
      @include res-responsive(xxl) {
        padding: 1rem;
        font-size: func-getPxFromRem(2);
      }
      @include res-responsive(md) {
        padding: 1rem;
        font-size: func-getPxFromRem(1.5);
      }
    }
  }

  .vtco-pagination {
    width: 100%;
    max-width: $res-breakpoint-xxl;
    margin: 0 auto;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1;
    @include display-flex-layout(row, nowrap, end, end, 0.5rem);
    @include res-responsive(lg) {
      bottom: 10%;
      @include display-justify-start;
      padding: 0 1rem;
    }
    @include res-responsive(xxl) {
      padding: 0 1rem;
    }
    .swiper-pagination-bullet {
      background: $vars-white;
      opacity: 0.3;
      aspect-ratio: 1/1;
      width: 10px;
      height: 10px;
      transition: all 0.3s ease;
      &.swiper-pagination-bullet-active {
        background: $vars-vtco-60;
        opacity: 1;
        width: $vars-spacing-xl;
        border-radius: 10px;
      }
    }
  }
}

.vtco-section {
  width: 100%;
  margin: 4% 0;
  position: relative;
  ˝ &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  @include res-responsive(lg) {
    margin: 6% 0;
  }
  @include res-responsive(sm) {
    margin: 8% 0;
  }

  .vtco-section-wrapper {
    width: 100%;
    max-width: $res-breakpoint-xxl;
    margin: 0 auto;
    padding: 2% $vars-spacing-normal;
    @include display-flex-layout(
      row,
      nowrap,
      center,
      stretch,
      $vars-spacing-normal
    );
    @include res-responsive(lg) {
      max-width: $vars-container-width-tablet;
      flex-direction: column;
    }

    &.unLimitWidth {
      max-width: unset;
    }
  }

  .vtco-section-col {
    width: 50%;
    @include res-responsive(lg) {
      width: 100%;
    }
  }

  .section-name {
    font-size: func-getPxFromRem(1.875);
    @include txt-semiBoldText;
    color: $vars-vtco-60;
    margin-bottom: $vars-spacing-normal;
  }

  .section-info {
    color: $vars-vtco-black;
    .section-title {
      @include txt-semiBoldText;
      font-size: func-getPxFromRem(2.25);
      line-height: 1.25;
      letter-spacing: 1px;
      word-spacing: 1px;
      @include res-responsive(lg) {
        font-size: func-getPxFromRem(1.875);
      }
      @include res-responsive(md) {
        font-size: func-getPxFromRem(1.125);
      }
    }
    .section-desc {
      @include txt-mediumText;
      font-size: $txt-text-base;
      padding: func-getPxFromRem(2.5) 0;
      @include res-responsive(md) {
        padding: func-getPxFromRem(1) 0;
        font-size: func-getPxFromRem(0.875);
      }
      @include res-responsive(lg) {
        padding: func-getPxFromRem(1.5) 0;
      }
      p {
        margin-bottom: $vars-spacing-md;
        line-height: 1.5;
        line-height: 24px;
        word-spacing: 2px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .section-actions {
      width: 100%;
      height: 100%;
      @include display-flex-layout(
        row,
        nowrap,
        start,
        center,
        $vars-spacing-normal
      );
    }
  }
}

.vtco-strategy {
  background-image: url("../images/img_decor_dots.png"),
    url("../images/img_decor_rainbow.png");
  background-repeat: no-repeat;
  background-size: auto auto, 78% auto;
  background-position: -8px calc(100% - 8px), top left;
    margin: 0;

  .vtco-section-wrapper {
    justify-content: space-between;
    padding: 8% 1rem 4%;
  }
  .strategy-text {
    width: 45%;
    @include res-responsive(lg) {
      width: 100%;
    }
  }

  .strategy-highlights {
    width: 35%;
    position: relative;
    @include res-responsive(xxl) {
      width: 45%;
    }
    @include res-responsive(xl) {
      width: 50%;
    }
    @include res-responsive(lg) {
      width: 80%;
      margin: 4% auto;
    }
    @include res-responsive(sm) {
      width: 90%;
      margin: 4% auto;
    }
  }

  .strategy-wraper {
    width: 100%;
    position: relative;
    z-index: 1;
    @include display-grid-cols(2, $vars-spacing-xxl);
    @include res-responsive(lg) {
      gap: $vars-spacing-lg;
    }
    @include res-responsive(md) {
      gap: $vars-spacing-normal;
    }
    .strategy-item {
      position: relative;
      aspect-ratio: 1/1;
      @include display-flex-layout(
        column,
        nowrap,
        center,
        center,
        $vars-spacing-xl
      );
      background: $vars-grey-100;
      border-radius: 50%;
      color: $vars-vtco-black;
      transition: all 0.5s ease;
      overflow: hidden;
      cursor: pointer;

      &--img {
        transition: all 0.5s ease;
        img {
          width: 100%;
          max-width: 75%;
          margin: 0 auto;
          display: block;
          transition: all 0.5s ease;
          @include res-responsive(sm) {
            max-width: 60%;
          }
        }
      }

      p {
        margin: 0;
        font-size: $txt-text-lg;
        font-family: "Exo-SemiBold";
        transition: all 0.5s ease;
      }

      &:hover {
        @include mixins-linearGradientVtco;
        color: $vars-white;
        transform: scale(1.05);

        .strategy-item--img {
          transform: translateY(-50%) scale(0);
          opacity: 0;
        }

        p {
          width: fit-content;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: $txt-text-xxl;
          @include res-responsive(md) {
            font-size: $txt-text-lg;
          }
        }
      }
    }
  }

  .strategy-decor {
    position: absolute;
    inset: 0;
    z-index: 0;
    @include display-flex-layout(row, nowrap, center, center);
    img {
      width: 100%;
      max-width: 48%;
      aspect-ratio: 1/1;
    }
  }
}

.vtco-ecosystems {
  margin-top: 2%;
  .vtco-section-wrapper {
    @include display-flex-column;
    @include display-justify-start;
    gap: 0;
  }
  .section-info {
    .section-desc {
      padding: 0;
      max-width: 75%;
      @include res-responsive(lg) {
        max-width: 100%;
        padding: 0;
      }
    }
  }
}

.goPlayLstServies {
  width: 100%;
  margin-top: $vars-spacing-xxl;
  @include display-grid-cols(2, 4% 2%);
  @include res-responsive(md) {
    grid-template-columns: repeat(1, 1fr);
    gap: $vars-spacing-lg;
  }
}

.goPlayService-card {
  width: 100%;
  border-radius: $vars-spacing-normal;
  aspect-ratio: 704/334;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;

  &--bground {
    width: 100%;
    height: 100%;
    border-radius: $vars-spacing-normal;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  &--content {
    position: absolute;
    padding: 6%;
    inset: 0;
    z-index: 1;
    border-radius: $vars-spacing-normal;
    color: $vars-white;
    text-align: center;
    font-size: 1.875vw;
    transition: all 0.3s ease;
    @include txt-semiBoldText;
    @include mixins-linearGradientBlack;
    @include display-flex-layout(column, nowrap, end, center, $vars-spacing-lg);
    @include res-responsive(md) {
      font-size: 5vw;
    }
    .service-name {
      // transform: translateY(50%);
      transition: all 0.5s ease;
    }
    &:hover {
      @include mixins-linearGradientVtco;
      justify-content: center;
      font-size: 2.125vw;
      @include res-responsive(md) {
        font-size: 7vw;
      }
      .service-name {
        transform: translateY(0);
      }
    }
  }
}

.vtco-culture {
  background-image: url("../images/img_decor_culture.png");
  background-position: 0 90%;
  background-size: 55% auto;
  background-repeat: no-repeat;
  @include res-responsive(lg) {
    background-position: 0 100%;
    background-size: 90% auto;
  }
  .vtco-section-wrapper {
    @include display-flex-layout(
      row,
      nowrap,
      space-between,
      center,
      $vars-spacing-normal
    );
    @include res-responsive(lg) {
      flex-direction: column;
    }
  }
  .culture-text {
    width: 45%;
    @include res-responsive(lg) {
      width: 100%;
    }
  }

  .culture-highlights {
    width: 50%;
    position: relative;
    background-image: url("../images/img_decor_dots.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: top left;
    @include res-responsive(lg) {
      width: 80%;
      margin: 4% auto;
    }
    @include res-responsive(sm) {
      width: 100%;
      margin: 4% auto 0;
    }
    img {
      width: 100%;
      border-radius: 25% 0 25% 25%;
      aspect-ratio: 730/608;
      object-fit: cover;
    }
  }

  .section-desc {
    line-height: 1.5;
    letter-spacing: 1px;
    b {
      @include txt-boldText;
    }
    ul {
      list-style: none;
      margin: 1rem;
      li {
        padding-left: $vars-spacing-xxl;
        margin-bottom: $vars-spacing-sm;
        &:last-child {
          margin-bottom: 0;
        }
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 24px;
          height: 24px;
          aspect-ratio: 1/1;
          background-image: url("../images/ic_list_dots.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.vtc-partner {
  width: 100%;
  background: $vars-vtco-50;
  margin-bottom: 0;
  .vtco-section-wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 4% 0;
    overflow: hidden;
    @include res-responsive(md) {
      padding: 6% 0;
    }
    @include res-responsive(md) {
      padding: 8% 0;
    }

    .owl-vtco-partner {
      display: flex;
      gap: $vars-spacing-normal;
      width: max-content;
      will-change: transform;

      img {
        width: auto;
        height: 34px;
        object-fit: contain;
        @include res-responsive(md) {
          height: 28px;
        }
      }
    }
  }
}

.vtco-recruitment {
  width: 100%;
  background: $vars-vtco-recruitment-bg;
  margin-top: 0;

  .vtco-section-col {
    &:first-child {
      width: 40%;
      padding: 6% 1rem;
      @include res-responsive(lg) {
        width: 100%;
      }
    }
    &:last-child {
      width: 55%;
      @include res-responsive(lg) {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: 136/87;
      }
    }

    .recruitment-img {
      width: 50%;
      position: absolute;
      top: 0;
      left: auto;
      bottom: 0;
      right: 0;
    }
  }

  .vtco-section-wrapper {
    padding: 0;
    @include display-justify-between;
    @include display-align-center;
    .section-info {
      color: $vars-white;
    }
  }

  .lst-img-recruitment {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: 0;
    overflow: hidden;
    @include res-responsive(xl) {
      width: 100%;
      height: fit-content;
      max-height: 75vh;
      position: relative;
      overflow: hidden;
      grid-template-columns: repeat(3, 1fr);
      padding: 0 1rem;
      aspect-ratio: auto;
    }

    @include res-responsive(lg) {
      aspect-ratio: 4/3;
    }
    @include display-grid-cols(4, $vars-spacing-normal);
    .recruitment-col {
      flex: 0 0 25%;
      img {
        display: block;
        height: fit-content;
        width: 100%;
        aspect-ratio: 223/480;
        object-fit: cover;
        border-radius: 240px;
        margin-bottom: 8%;
      }
      transform: translateY(-21%);
      &:nth-child(2n) {
        transform: translateY(-35%);
      }
      @include res-responsive(xl) {
        &:last-child {
          display: none;
        }
      }

    }
  }
}
