@use "../global" as *;

.vtco-swiper {
  width: 100%;
  height: auto;
  aspect-ratio: 1920/840;
  .vtco-slide {
    width: 100%;
    position: relative;
    &--img {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1920/840;
        object-fit: cover;
        display: block;
      }
    }
    &--title {
      width: 100%;
      max-width: $res-breakpoint-xxl;
      margin: 0 auto;
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      color: var(--white);
      @include txt-font-semibold;
      font-size: func-getPxFromRem(2.5);
      padding-right: 16%;
      @include res-responsive(xxl) {
        padding: 1rem;
        font-size: func-getPxFromRem(2);
      }
      @include res-responsive(md) {
        padding: 1rem;
        font-size: func-getPxFromRem(1.5);
      }
    }
  }

  .vtco-pagination {
    width: 100%;
    max-width: $res-breakpoint-xxl;
    margin: 0 auto;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1;
    @include display-flex-layout(row, nowrap, end, end, 0.5rem);
    @include res-responsive(lg) {
      bottom: 10%;
      @include display-justify-start;
      padding: 0 1rem;
    }
    @include res-responsive(xxl) {
      padding: 0 1rem;
    }
    .swiper-pagination-bullet {
      background: var(--white);
      opacity: 0.3;
      aspect-ratio: 1/1;
      width: 10px;
      height: 10px;
      transition: all 0.3s ease;
      &.swiper-pagination-bullet-active {
        background: var(--vtco-primary-60);
        opacity: 1;
        width: var(--space-xl);
        border-radius: 10px;
      }
    }
  }
}

.vtco-section {
  width: 100%;
  margin-bottom: 6%;
  position: relative;
  @include res-responsive(lg) {
    margin-bottom: 8%;
  }
  @include res-responsive(sm) {
    margin-bottom: 10%;
  }

  &-header {
    width: 100%;
    margin: var(--space-base) 0;
    @include display-flex-layout(
      row,
      nowrap,
      space-between,
      center,
      var(--space-base)
    );
    .section-name {
      margin-bottom: 0 !important;
    }
  }

  &-body {
    width: 100%;
    @include display-flex-layout(
      row,
      nowrap,
      center,
      center,
      var(--space-base)
    );
    @include res-responsive(lg) {
      flex-direction: column;
    }
  }

  &-footer {
    width: 100%;
    @include display-flex-layout(
      row,
      nowrap,
      center,
      center,
      var(--space-base)
    );
  }

  .vtco-section-wrapper {
    width: 100%;
    max-width: $res-breakpoint-xxl;
    margin: 0 auto;
    padding: var(--space-base);
    @include display-flex-layout(
      column,
      nowrap,
      center,
      stretch,
      var(--space-base)
    );
    &.layout-row {
      flex-direction: row;
      @include res-responsive(lg) {
        flex-direction: column;
      }
    }

    @include res-responsive(lg) {
      width: 100%;
      max-width: 600px;
    }

    &.unLimitWidth {
      max-width: unset;
    }
  }

  .vtco-section-col {
    width: 50%;
    @include res-responsive(lg) {
      width: 100%;
    }
  }

  .section-name {
    font-size: clamp(20px, 4vw, 30px);
    @include txt-font-semibold;
    color: var(--vtco-primary-60);
    margin-bottom: var(--space-base);

    &.style-2 {
      text-align: center;
      color: var(--vtco-primary-black);
    }
  }

  .section-info {
    color: var(--vtco-primary-black);
  }
  .section-title {
    color: var(--vtco-primary-black);
    @include txt-font-semibold;
    font-size: func-getPxFromRem(2.25);
    line-height: 1.25;
    letter-spacing: 1px;
    word-spacing: 1px;
    @include res-responsive(lg) {
      font-size: func-getPxFromRem(1.875);
    }
    @include res-responsive(md) {
      font-size: func-getPxFromRem(1.25);
    }
  }
  .section-desc {
    color: var(--vtco-primary-black);
    @include txt-font-medium;
    font-size: $txt-text-base;
    padding: func-getPxFromRem(2.5) 0;
    @include res-responsive(lg) {
      padding: func-getPxFromRem(1.5) 0;
    }
    @include res-responsive(md) {
      padding: func-getPxFromRem(1) 0;
      font-size: func-getPxFromRem(0.875);
    }
    p {
      margin-bottom: var(--space-md);
      line-height: 1.5;
      word-spacing: 1px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .section-actions {
    color: var(--vtco-primary-black);
    @include display-flex-layout(row, nowrap, start, center, var(--space-base));
  }

  &.layout-2 {
    margin: 0;
    .vtco-section-header {
      width: 100%;
      height: 100%;
      min-height: 370px;
      aspect-ratio: 1920/370;
      margin: 0;
      text-align: center;
      background: #b0d987;
      font-size: clamp(24px, 5vw, 60px);
      color: white;
      background-image: url("../images/bg_header_layout_2.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      @include txt-font-semibold;
      @include res-responsive(xl) {
        min-height: 320px;
      }
      @include res-responsive(md) {
        min-height: 200px;
      }
    }
  }
}

.vtco-strategy {
  background-image: url("../images/img_decor_dots.png"),
    url("../images/img_decor_rainbow.png");
  background-repeat: no-repeat;
  background-size: auto auto, 78% auto;
  background-position: -8px calc(100% - 8px), top left;
  margin-bottom: 0;

  .vtco-section-wrapper {
    justify-content: space-between;
    padding: 6% 1rem;
    @include res-responsive(lg) {
      padding: 8% 1rem;
    }

    @include res-responsive(sm) {
      padding: 10% 1rem;
    }
  }

  .vtco-section-body {
    justify-content: space-between;
    @include res-responsive(xxl) {
      justify-content: space-around;
    }
    @include res-responsive(lg) {
      flex-direction: column;
    }
  }

  .strategy-text {
    width: 45%;
    @include res-responsive(lg) {
      width: 100%;
    }
  }

  .strategy-highlights {
    width: 45%;
    position: relative;
    @include display-flex-layout(row, nowrap, center, center);
    @include res-responsive(xl) {
      width: 50%;
    }
    @include res-responsive(lg) {
      width: 80%;
      margin: 4% auto;
    }
    @include res-responsive(sm) {
      width: 90%;
    }
  }

  .strategy-wraper {
    width: 100%;
    position: relative;
    z-index: 1;
    align-content: center;
    justify-items: center;
    @include display-grid-cols(2, var(--space-xxl));
    @include res-responsive(lg) {
      gap: var(--space-lg);
    }
    @include res-responsive(md) {
      gap: var(--space-base);
    }
    .strategy-item {
      position: relative;
      width: 100%;
      max-width: 280px;
      aspect-ratio: 1/1;
      @include display-flex-layout(
        column,
        nowrap,
        center,
        center,
        var(--space-xl)
      );
      background: var(--grey-100);
      border-radius: 50%;
      // border: 10px solid var(--vtco-primary-40);
      color: var(--vtco-primary-black);
      transition: all 0.5s ease;
      overflow: hidden;
      cursor: pointer;
      @include res-responsive(md) {
        gap: 12px;
      }
      &--img {
        transition: all 0.5s ease;
        img {
          width: 100%;
          max-width: 75%;
          margin: 0 auto;
          display: block;
          transition: all 0.5s ease;
          @include res-responsive(sm) {
            max-width: 50%;
          }
        }
      }

      p {
        margin: 0;
        font-size: $txt-text-lg;
        font-family: "Exo-SemiBold";
        transition: all 0.5s ease;
        @include res-responsive(sm) {
          font-size: 16px;
        }
      }

      &:hover {
        @include mixins-linearGradientVtco;
        color: var(--white);
        transform: scale(1.05);

        .strategy-item--img {
          transform: translateY(-50%) scale(0);
          opacity: 0;
        }

        p {
          width: fit-content;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: 42px;
          word-break: break-all;
          @include res-responsive(md) {
            font-size: $txt-text-xxl;
          }
        }
      }
      &::before {
        content: "";
        max-width: 25%;
        position: absolute;
        inset: 0;
        z-index: 999;
        top: 6px;
        left: 15%;
        background-image: url("../images/ic_line_strategy_item.png");
        background-position: top left;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  .section-header .section-name {
    color: #272727;
  }
  .strategy-decor {
    position: absolute;
    inset: 0;
    z-index: 0;
    @include display-flex-layout(row, nowrap, center, center);
    img {
      width: 100%;
      max-width: 48%;
      aspect-ratio: 1/1;
    }
  }
}

.vtco-ecosystems {
  background-image: url("../images/img_decor_dots_rotate.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: bottom right;
  margin-bottom: 0;
  .vtco-section-wrapper {
    gap: 0;
    padding-bottom: 6%;
  }
  .vtco-section-header {
    flex-direction: column;
    align-items: start;
  }
  .section-info {
    .section-desc {
      padding: 0;
      max-width: 75%;
      @include res-responsive(lg) {
        max-width: 100%;
        padding: 0;
      }
    }
  }
}

.goPlayLstServies {
  width: 100%;
  margin-top: var(--space-xxl);
  @include display-grid-cols(2, var(--space-xl) var(--space-xl));
  @include res-responsive(md) {
    grid-template-columns: repeat(1, 1fr);
    gap: var(--space-lg);
  }
}

.goPlayService-card {
  width: 100%;
  border-radius: var(--space-base);
  aspect-ratio: 704/334;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;

  &--bground {
    width: 100%;
    height: 100%;
    border-radius: var(--space-base);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  &--content {
    position: absolute;
    padding: 6%;
    inset: 0;
    z-index: 1;
    border-radius: var(--space-base);
    color: var(--white);
    text-align: center;
    font-size: 1.875vw;
    transition: all 0.3s ease;
    @include txt-font-semibold;
    @include mixins-linearGradientBlack;
    @include display-flex-layout(column, nowrap, end, center, var(--space-lg));
    @include res-responsive(md) {
      font-size: 5vw;
    }
    .service-name {
      transition: all 0.5s ease;
      position: absolute;
      bottom: 0%;
      transform: translateY(-75%);
    }
    &:hover {
      @include mixins-linearGradientVtco;
      justify-content: center;
      font-size: 2.5vw;
      @include res-responsive(md) {
        font-size: 7vw;
      }
      .service-name {
        bottom: 50%;
        transform: translateY(50%);
      }
    }
  }
}

.vtco-culture {
  background-image: url("../images/img_decor_culture.png");
  background-position: 0 100%;
  background-size: 53% auto;
  background-repeat: no-repeat;
  @include res-responsive(xxl) {
    background-position: 0 90%;
  }
  @include res-responsive(xl) {
    background-position: 0 80%;
  }
  @include res-responsive(lg) {
    background-position: 0 100%;
    background-size: 90% auto;
  }

  .vtco-section-body {
    justify-content: space-between;
    @include res-responsive(xxl) {
      justify-content: space-around;
    }
    @include res-responsive(lg) {
      flex-direction: column-reverse;
    }
  }

  .culture-text {
    width: calc(40% + 1.5rem);
    @include res-responsive(lg) {
      width: 100%;
    }
  }

  .culture-highlights {
    width: 50%;
    position: relative;
    background-image: url("../images/img_decor_dots.png");
    background-repeat: no-repeat;
    background-size: 15% auto;
    background-position: top left;
    @include res-responsive(lg) {
      width: 100%;
      margin: 4% auto 0;
    }
    img {
      width: 100%;
      border-radius: 25% 0 25% 25%;
      aspect-ratio: 730/608;
      object-fit: cover;
    }
  }

  .section-desc {
    line-height: 1.5;
    color: var(--grey-600);
    b {
      @include txt-font-bold;
    }
    ul {
      list-style: none;
      margin: 1rem 0;
      li {
        padding-left: var(--space-xxl);
        margin-bottom: var(--space-sm);
        &:last-child {
          margin-bottom: 0;
        }
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 24px;
          height: 24px;
          aspect-ratio: 1/1;
          background-image: url("../images/ic_list_dots.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.vtc-partner {
  background: var(--vtco-primary-50);
  margin-bottom: 0;
  .vtco-section-wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 4% 0;
    overflow: hidden;
    @include res-responsive(md) {
      padding: 6% 0;
    }
    @include res-responsive(md) {
      padding: 8% 0;
    }

    .owl-vtco-partner {
      display: flex;
      gap: var(--space-base);
      width: max-content;
      will-change: transform;

      img {
        width: auto;
        height: 34px;
        object-fit: contain;
        @include res-responsive(md) {
          height: 28px;
        }
      }
    }
  }
}

.vtco-recruitment {
  background: var(--vtco-recruitment-bg);
  margin-bottom: 0;

  .vtco-section-body {
    @include res-responsive(lg) {
      flex-direction: column;
    }
  }
  .vtco-section-col {
    &:first-child {
      width: 40%;
      padding: 6% 1rem;
      @include res-responsive(lg) {
        width: 100%;
      }
    }
    &:last-child {
      width: 55%;
      @include res-responsive(lg) {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: 136/87;
      }
    }

    .recruitment-img {
      width: 50%;
      position: absolute;
      top: 0;
      left: auto;
      bottom: 0;
      right: 0;
    }
  }

  .section-info {
    color: var(--white);
  }

  .vtco-section-wrapper {
    padding: 0;
  }

  .lst-img-recruitment {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: 0;
    overflow: hidden;
    @include display-grid-cols(4, var(--space-base));
    @include res-responsive(xl) {
      width: 100%;
      height: fit-content;
      max-height: 75vh;
      position: relative;
      overflow: hidden;
      padding: 0 1rem;
      aspect-ratio: auto;
      grid-template-columns: repeat(3, 1fr);
    }

    @include res-responsive(lg) {
      aspect-ratio: 4/3;
    }
    .recruitment-col {
      flex: 0 0 25%;
      img {
        display: block;
        height: fit-content;
        width: 100%;
        aspect-ratio: 223/480;
        object-fit: cover;
        border-radius: 240px;
        margin-bottom: 8%;
      }
      transform: translateY(-21%);
      &:nth-child(2n) {
        transform: translateY(-35%);
      }
      @include res-responsive(xl) {
        &:last-child {
          display: none;
        }
      }
    }
  }
}

.lang-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  .lang-selected {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 6px;
    background: #fff;
    min-width: 100px;
    img {
      width: 24px;
      height: 24px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      object-fit: cover;
    }

    .arrow-dropdown {
      position: relative;
      width: 16px;
      height: 16px;

      &::after {
        content: "▶";
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translate(0, -50%) rotate(90deg);
        font-size: 10px;
        font-style: normal;
        transition: all 0.3s ease;
      }
    }
  }

  .lang-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 100;
    .lang-option {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 12px;
      cursor: pointer;
      &:hover {
        background: #f2f2f2;
      }

      img {
        width: 24px;
        height: 24px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  &.show-options {
    .arrow-dropdown {
      &::after {
        transform: rotate(270deg) translate(6px, 0);
      }
    }
    .lang-options {
      display: block;
    }
  }
}

.box-container {
  width: 100%;
  max-width: $res-breakpoint-xxl;
  margin: 0 auto;
  padding: var(--space-base);
  @include res-responsive(lg) {
    max-width: 600px;
  }
}
