@use "../global" as *;

.section-header {
  margin: 0 0 4% 0;
  background-color: var(--vtco-primary-10);
  position: relative;
  .section-name {
    color: var(--vtco-black);
    margin: var(--space-base) 0;
    @include res-responsive(lg) {
      margin-bottom: 0;
    }
  }
  .vtco-section-wrapper {
    gap: 0;
  }
}

.goBeyond-page {
  margin: 0 0 2% 0;
  background: #ea582c;
  min-height: 15vw;
  @include res-responsive(md) {
    min-height: 240px;
  }
  @media (min-width: 578px) and (max-width: 992px) {
    background: linear-gradient(
      180deg,
      rgba(234, 88, 44, 1) 0%,
      rgba(234, 88, 44, 1) 75%,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  &::after {
    content: "goBeyond";
    color: #f8d4b01a;
    font-size: clamp(96px, 20vw, 240px);
    @include txt-font-bold;
    position: absolute;
    top: -5%;
    left: 0%;
    z-index: 0;
  }
  .section-name {
    margin: 0;
    color: #f8d4b0;
    font-size: clamp(36px, 5vw, 96px);
  }

  .news-featured {
    z-index: 1;
    &:hover {
      .news-title {
        color: white !important;
      }
    }
    .posted-date,
    .news-title,
    .news-desc {
      color: white !important;
    }
  }
}

.goVibes-page {
  margin: 0 0 2% 0;
  background: #8462ea;
  min-height: 15vw;
  @include res-responsive(md) {
    min-height: 240px;
  }
  @media (min-width: 578px) and (max-width: 992px) {
    background: linear-gradient(
      180deg,
      #8462ea 0%,
      #8462ea 75%,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  &::after {
    content: "Vibes";
    color: #d2c9f81a;
    font-size: clamp(96px, 20vw, 240px);
    @include txt-font-bold;
    position: absolute;
    top: -5%;
    left: 0%;
    z-index: 0;
  }
  .section-name {
    margin: 0;
    color: #d2c9f8;
    font-size: clamp(36px, 5vw, 96px);
  }

  .news-featured {
    z-index: 1;
    &:hover {
      .news-title {
        color: white !important;
      }
    }
    .posted-date,
    .news-title,
    .news-desc {
      color: white !important;
    }
  }
}

.goCulture-page {
  margin: 0 0 2% 0;
  background: #97c012;
  min-height: 15vw;
  @include res-responsive(md) {
    min-height: 240px;
  }
  @media (min-width: 578px) and (max-width: 992px) {
    background: linear-gradient(
      180deg,
      #97c012 0%,
      #97c012 75%,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  &::after {
    content: "Culture";
    color: #e3f6a01a;
    font-size: clamp(96px, 20vw, 240px);
    @include txt-font-bold;
    position: absolute;
    top: -5%;
    left: 0%;
    z-index: 0;
  }
  .section-name {
    margin: 0;
    color: #e3f6a0;
    font-size: clamp(36px, 5vw, 96px);
  }

  .news-featured {
    z-index: 1;
    &:hover {
      .news-title {
        color: white !important;
      }
    }
    .posted-date,
    .news-title,
    .news-desc {
      color: white !important;
    }
  }
}

.goTogether-page {
  margin: 0 0 2% 0;
  background: #3788e4;
  min-height: 15vw;
  @include res-responsive(md) {
    min-height: 240px;
  }

  &::after {
    content: "Together";
    color: #b3dff4;
    font-size: clamp(96px, 20vw, 240px);
    @include txt-font-bold;
    position: absolute;
    top: -5%;
    left: 0%;
    z-index: 0;
    opacity: 10%;
  }
  .section-name {
    margin: 0;
    color: #b3dff4;
    font-size: clamp(36px, 5vw, 96px);
  }

  .news-featured {
    z-index: 1;
    &:hover {
      .news-title {
        color: white !important;
      }
    }
    .posted-date,
    .news-title,
    .news-desc {
      color: white !important;
    }
  }
}

.news-card {
  width: 100%;
  @include display-flex-layout(row, nowrap, start, center, var(--space-xl));
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-4px);
    .news-title {
      color: var(--vtco-primary-60) !important;
    }
  }
  .news-content {
    width: 66%;
    padding: 2% 0;
    .posted-date {
      color: var(--grey-700);
      margin-bottom: 0.25rem;
      @include res-responsive(md) {
        font-size: 12px;
      }
    }

    .news-title {
      color: var(--vtco-black);
      font-size: $txt-text-lg;
      @include txt-font-semibold;
      @include txt-max-line(2);
      line-height: 1.25;
      margin-bottom: 0.25rem;
      transition: all 0.3s ease;
      @include res-responsive(md) {
        font-size: 18px;
      }
      @include res-responsive(sm) {
        font-size: 14px;
      }
    }

    .news-desc {
      color: var(--grey-700);
      font-size: $txt-text-base;
      @include txt-font-regular;
      @include txt-max-line(1);
      line-height: 1.5;
    }
  }
  .news-thumb {
    width: 35%;
    img {
      border-radius: var(--space-base);
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 298/180;
    }
  }

  &.news-featured {
    justify-content: space-between;
    @include res-responsive(lg) {
      flex-direction: column;
      gap: 0.25rem;
    }
    .news-content {
      width: 40%;
      @include res-responsive(lg) {
        width: 100%;
      }
      .posted-date {
        color: var(--grey-700);
        @include txt-font-medium;
        margin-bottom: var(--space-sm);
      }

      .news-title {
        font-size: 2rem;
        @include txt-max-line(3);
        margin-bottom: var(--space-base);
        @include res-responsive(lg) {
          font-size: 30px;
        }
        @include res-responsive(md) {
          font-size: 18px;
        }
      }

      .news-desc {
        @include txt-font-regular;
        @include txt-max-line(4);
        @include res-responsive(md) {
          font-size: 14px;
        }
      }
    }
    .news-thumb {
      width: 58%;
      @include res-responsive(lg) {
        width: 100%;
      }
      img {
        aspect-ratio: 832/460;
      }
    }
  }
}

.vtco-news {
  margin-top: 0;
  margin-bottom: 4%;

  .vtco-section-body {
    justify-content: space-between;
    align-items: start;
  }

  .vtco-section-footer {
    margin-top: 2%;
  }

  .vtco-section-wrapper {
    @include display-flex-between;
    align-items: start;
  }
  .news-latest {
    width: 60%;
    @include res-responsive(lg) {
      width: 100%;
    }
    .news-card {
      padding: var(--space-xl) 0;
      border-top: 1px solid var(--neutral-20);
      &:first-child {
        border-top: none;
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
      @include res-responsive(md) {
        .news-desc {
          display: none;
        }
        .news-title {
          @include txt-max-line(3);
          margin-bottom: 0;
        }
        .news-thumb {
          img {
            aspect-ratio: 1/1;
          }
        }
      }
    }
  }

  .news-outstanding {
    width: 30%;
    @include res-responsive(lg) {
      width: 100%;
    }
    .vtco-section-header {
      margin-top: 0;
    }
    .btn-normal {
      @include res-responsive(md) {
        padding: var(--space-sm) var(--space-base);
      }
    }
    .news-card {
      margin-bottom: var(--space-lg);
      &:last-child {
        margin-bottom: 0;
      }
      .news-thumb {
        aspect-ratio: 1/1;
        @include res-responsive(lg) {
          width: fit-content;
          max-width: 110px;
        }
        img {
          aspect-ratio: 1/1;
        }
      }

      .news-content {
        flex: 1;
      }
      .posted-date {
        font-size: 14px;
      }
      .news-title {
        @include txt-max-line(3);
        margin-bottom: 0;
        font-size: $txt-text-base;
        @include res-responsive(md) {
          font-size: $txt-text-md;
        }
      }
      .news-desc {
        display: none;
      }
    }
  }
}

.page-breadcrumb {
  width: 100%;
  @include display-flex-layout(row, nowrap, start, center, var(--space-sm));
  cursor: pointer;
  &:hover {
    color: var(--vtco-black);
  }
  a {
    color: var(--vtco-black);
    &:hover {
      color: var(--vtco-black);
    }
  }
}

.news-section {
  .vtco-section-wrapper {
    flex-direction: column;
    gap: 0;
  }
}

.article-wrap {
  width: 100%;
  @include display-flex-layout(column, nowrap, start, start, var(--space-sm));

  .article-content {
    width: 100%;
    .article-title {
      width: 100%;
      margin-bottom: var(--space-base);
      @include txt-font-semibold;
      font-size: 2rem;
      line-height: 1.25;
      @include res-responsive(md) {
        font-size: 1.5rem;
      }
    }

    .article-meta {
      width: 100%;
      margin-bottom: var(--space-lg);
      @include display-flex-layout(
        row,
        nowrap,
        space-between,
        center,
        var(--space-base)
      );
      p {
        @include display-flex-layout(
          row,
          nowrap,
          space-between,
          center,
          var(--space-xs)
        );
        img {
          margin-right: 0.25rem;
        }
      }

      .article-author {
        @include txt-font-medium;
        @include res-responsive(md) {
          display: none;
        }
        span {
          color: var(--vtco-primary-60);
          margin-left: 0.25rem;
        }
      }
    }

    .article-body {
      img {
        width: 100%;
      }
    }
  }
}
.article-related {
  .news-card {
    flex-direction: column;
    gap: var(--space-xs);
    .news-thumb {
      width: 100%;
    }
    .news-content {
      width: 100%;
    }
  }

  // .article-related-wrapper {
  //   @include display-grid-cols(4, var(--space-base));
  //   @include res-responsive(lg) {
  //     grid-template-columns: repeat(2, 1fr);
  //   }

  //   @include res-responsive(sm) {
  //     grid-template-columns: repeat(1, 1fr);
  //   }
  // }
}

.news-content-page {
  margin-bottom: 2%;
  .vtco-section-wrapper {
    max-width: 710px;

    // .article-wrap .article-body {
    //   p:has(img) {
    //     width: 100%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     img {
    //       margin: 0 -50%;
    //       max-width: 1440px;
    //       @include res-responsive(lg) {
    //         margin: 0;
    //         width: 100%;
    //       }
    //     }
    //   }
    // }
  }
}
